<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <link rel="stylesheet" href="./js/libs/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <header class="header">
        <div class="header-top">
            <div class="container">
                <div class="header-top-wrap">
                    <div class="logo">
                        <img src="./assets/img/logo/logo.png" alt="">
                    </div>
                    <div class="header-info">
                        <div class="header-item">
                            <img src="./assets/img/svg/wall-clock 1.svg" alt="">
                            <div class="header-item-box">
                                <span>Làm việc</span>
                                <p>Thứ 2 - Thứ 7 08:30 - 18:00</p>
                            </div>
                        </div>
                        <div class="header-item">
                            <img src="./assets/img/svg/phone-call 1.svg" alt="">
                            <div class="header-item-box">
                                <span>Hotline</span>
                                <p>+84 122 456 789</p>
                            </div>
                        </div>
                        <div class="header-item">
                            <img src="./assets/img/svg/mail.svg" alt="">
                            <div class="header-item-box">
                                <span>Email</span>
                                <p>Info123@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <div class="header-bottom-wrap">
                    <div class="logo">
                        <img src="./assets/img/logo/logo.png" alt="">
                    </div>
                    <nav class="header-nav">
                        <ul id="menu">
                            <li class="parent"><a href="">Trang chủ</a></li>
                            <li class="parent"><a href="">Về chúng tôi</a></li>
                            <li class="parent"><a href="">Sản phẩm</a></li>
                            <li class="parent">
                                <a href="">Nghiên cứu & Phát triển</a><i class='bx bxs-chevron-down'></i>
                                <ul class="child">
                                    <li><a href="">Nghiên cứu</a></li>
                                    <li><a href="">Phát triển</a></li>
                                    <li><a href="">Phát triển</a></li>
                                </ul>
                            </li>
                            <li class="parent"><a href="">Tin tức</a></li>
                            <li class="parent"><a href="">Tuyển dụng</a></li>
                            <li class="parent"><a href="">Liên hệ</a></li>
                        </ul>
                    </nav>

                    <div class="burger burger-js">
                        <div class="burger-line"></div>
                        <div class="burger-line"></div>
                        <div class="burger-line"></div>
                    </div>
                    <div class="menu-mobile mobilemenu-js">
                        <div class="menu-mobile-wrap">
                            <div class="wrap">
                                <main>
                                    <section id="vert-nav">
                                        <nav role='navigation'>
                                            <ul class="topmenu">
                                                <li><a class="sidebarhead" href="#0">Trang chủ</a></li>
                                                <li><a class="sidebarhead" href="#0">Về Chúng tôi</a></li>
                                                <li><a class="sidebarhead" href="#0">Sản phẩm</a></a>
                                                    <ul class="submenu">
                                                        <li><a href="#0">Bandage</a></li>
                                                        <li><a href="#0">Thread</a></li>
                                                        <li><a href="#0">Hemostatic</a></li>
                                                    </ul>
                                                </li>
                                                <li><a class="sidebarhead" href="#0">Nghiên cứu & phát triển</a></li>
                                                <li><a class="sidebarhead" href="#0">Tin tức</a></li>
                                                <li><a class="sidebarhead" href="#0">Tuyển dụng</a></li>
                                                <li><a class="sidebarhead" href="#0">Liên hệ</a></li>
                                            </ul>
                                        </nav>
                                    </section>
                                </main>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="menu-mobile-over mobilemenuover-js"></div>

    <div class="bg-fade"></div>

    <main class="main">
        <div class="banner">
            <img src="./assets/img/breadscrum.png" alt="">
            <h1>Sản phẩm</h1>
            <div class="banner-breadscrumb">
                <a href="">Trang chủ</a>
                <i class='bx bx-chevron-right'></i>
                <a href="">Sản phẩm</a>
            </div>
        </div>

        <div class="sec-cate">
            <div class="container">
                <div class="cate-wrap pos-relative flex">
                    <div class="shape">
                        <div class="shape-wrap">
                            <div class="shape-slide">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <p class="text text-l m-b-16">Chỉ phẫu thuật</p>
                                    </div>
                                    <div class="swiper-slide">
                                        <p class="text text-l m-b-16">Chỉ phẫu thuật</p>
                                    </div>
                                    <div class="swiper-slide">
                                        <p class="text text-l m-b-16">Chỉ phẫu thuật</p>
                                    </div>
                                </div>
                                <div class="swiper-pagination shape-pagination"></div>
                            </div>
                            <div class="shape-col left">
                                <div class="shape-col-wrap">
                                    <div class="shape-item-sm">
                                        <div class="shape-tit flex flex-ai-center flex-jc-end">
                                            <span class="name">LUXYLENE</span>
                                            <div class="shape-icon">
                                                <img src="./assets/img/svg/kit-1.svg" alt="">
                                            </div>
                                        </div>
                                        <div class="shape-info text-right">
                                            <p class="info">
                                                Lorem Ipsum is simply dummy text of the printing
                                            </p>
                                            
                                            <a href="#" class="shape-link">Xem thêm</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div class="move-to-top moveToTop">
        <div class="pyramid"></div>
        <div class="pyramid"></div>
        <div class="pyramid"></div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="footer-wrap">
                <ul class="footer-item">
                    <li>
                        <div class="logo">
                            <img src="./assets/img/logo/logo.png" alt="">
                        </div>
                    </li>
                    <li>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy t
                        </p>
                    </li>
                    <li>
                        <div class="footer-socials">
                            <a href=""><i class='bx bxl-facebook'></i></a>
                            <a href=""><i class='bx bxl-linkedin'></i></a>
                            <a href=""><i class='bx bxl-twitter'></i></a>
                        </div>
                    </li>
                </ul>
                <ul class="footer-item">
                    <li class="head">Về chúng tôi</li>
                    <ul class="footer-nav">
                        <ul>
                            <li><a href="">Trang chủ</a></li>
                            <li><a href="">Về chúng tôi</a></li>
                            <li><a href="">Sản phẩn</a></li>
                        </ul>
                        <ul>
                            <li><a href="">Nghiên cứu & phát triển</a></li>
                            <li><a href="">Tin tức</a></li>
                            <li><a href="">Tuyển dụng</a></li>
                        </ul>
                    </ul>

                </ul>
                <ul class="footer-item">
                    <li class="head">Liên hệ</li>
                    <li class="footer-contact"><img src="./assets/img/svg/phone2.svg" alt=""><a href="">Hotline : +84
                            124 456 789</a></li>
                    <li class="footer-contact"><img src="./assets/img/svg/mail2.svg" alt=""><a href="">Email :
                            info123@gmail.com</a></li>
                    <li class="footer-contact"><img src="./assets/img/svg/locate.svg" alt=""><a href="">Địa chỉ :
                            373/226 Lý Thường Kiệt,
                            phường 8
                            quận Tân Bình, TP.HCM </a></li>
                </ul>
            </div>
        </div>
        <div class="footer-credit">
            Web được thiết kế bởi Mona Meida
        </div>
    </footer>
    <script src="./js/libs/jquery/jquery.min.js"></script>
    <script src="./js/libs/swiper/swiper-bundle.min.js"></script>
    <script src="./js/libs/magnific/jquery.magnific-popup.min.js"></script>
    <script src="./js/main.js" type="module"></script>
</body>

</html>