<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Home</title>
</head>

<body>
    <header class="header">
        <div class="header-top">
            <div class="container">
                <div class="header-top-wrap">
                    <a href="" class="logo">
                        <img src="./assets/img/logo/logo.png" alt="">
                    </a>
                    <div class="header-info">
                        <div class="header-item">
                            <img src="./assets/img/svg/wall-clock 1.svg" alt="">
                            <div class="header-item-box">
                                <span>Làm việc</span>
                                <p>Thứ 2 - Thứ 7 08:30 - 18:00</p>
                            </div>
                        </div>
                        <div class="header-item">
                            <img src="./assets/img/svg/phone-call 1.svg" alt="">
                            <div class="header-item-box">
                                <span>Hotline</span>
                                <p>+84 122 456 789</p>
                            </div>
                        </div>
                        <div class="header-item">
                            <img src="./assets/img/svg/mail.svg" alt="">
                            <div class="header-item-box">
                                <span>Email</span>
                                <p>Info123@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <div class="header-bottom-wrap">
                    <div class="logo">
                        <img src="./assets/img/logo/logo.png" alt="">
                    </div>
                    <nav class="header-nav">
                        <ul id="menu">
                            <li class="parent"><a href="">Trang chủ</a></li>
                            <li class="parent"><a href="">Về chúng tôi</a></li>
                            <li class="parent"><a href="">Sản phẩm</a></li>
                            <li class="parent">
                                <a href="">Nghiên cứu & Phát triển</a><i class='bx bxs-chevron-down'></i>
                                <ul class="child">
                                    <li><a href="">Nghiên cứu</a></li>
                                    <li><a href="">Phát triển</a></li>
                                    <li><a href="">Phát triển</a></li>
                                </ul>
                            </li>
                            <li class="parent"><a href="">Tin tức</a></li>
                            <li class="parent"><a href="">Tuyển dụng</a></li>
                            <li class="parent"><a href="">Liên hệ</a></li>
                        </ul>
                    </nav>

                    <div class="burger burger-js">
                        <div class="burger-line"></div>
                        <div class="burger-line"></div>
                        <div class="burger-line"></div>
                    </div>
                    <div class="menu-mobile mobilemenu-js">
                        <div class="menu-mobile-wrap">
                            <div class="wrap">
                                <main>
                                    <section id="vert-nav">
                                        <nav role='navigation'>
                                            <ul class="topmenu">
                                                <li><a class="sidebarhead" href="#0">Trang chủ</a></li>
                                                <li><a class="sidebarhead" href="#0">Về Chúng tôi</a></li>
                                                <li><a class="sidebarhead" href="#0">Sản phẩm</a></a>
                                                    <ul class="submenu">
                                                        <li><a href="#0">Bandage</a></li>
                                                        <li><a href="#0">Thread</a></li>
                                                        <li><a href="#0">Hemostatic</a></li>
                                                    </ul>
                                                </li>
                                                <li><a class="sidebarhead" href="#0">Nghiên cứu & phát triển</a></li>
                                                <li><a class="sidebarhead" href="#0">Tin tức</a></li>
                                                <li><a class="sidebarhead" href="#0">Tuyển dụng</a></li>
                                                <li><a class="sidebarhead" href="#0">Liên hệ</a></li>
                                            </ul>
                                        </nav>
                                    </section>
                                </main>
                            </div>
                            <div class="header-info">
                                <div class="header-item">
                                    <img src="./assets/img/svg/wall-clock 1.svg" alt="">
                                    <div class="header-item-box">
                                        <span>Làm việc</span>
                                        <p>Thứ 2 - Thứ 7 08:30 - 18:00</p>
                                    </div>
                                </div>
                                <div class="header-item">
                                    <img src="./assets/img/svg/phone-call 1.svg" alt="">
                                    <div class="header-item-box">
                                        <span>Hotline</span>
                                        <p>+84 122 456 789</p>
                                    </div>
                                </div>
                                <div class="header-item">
                                    <img src="./assets/img/svg/mail.svg" alt="">
                                    <div class="header-item-box">
                                        <span>Email</span>
                                        <p>Info123@gmail.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="menu-mobile-over mobilemenuover-js"></div>
    <div class="main">
        <div class="home-banner pos-relative">
            <div class="swiper homeSwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="home-overlay"></div>
                        <img src="./assets/img/banner/home.png" alt="">
                        <div class="container">
                            <div class="home-wrap">
                                <h1 class="home-title">
                                    SỨC KHỎE CỦA BẠN <br>
                                    LÀ TRỌNG TÂM CỦA CHÚNG TÔI
                                </h1>
                                <p class="home-para">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's
                                </p>
                                <ul class="banner-lst-intro">
                                    <li class="banner-item-intro">Lorem Ipsum is simply dummy text of the printing and
                                    </li>
                                    <li class="banner-item-intro">Lorem Ipsum has been the industry's standard </li>
                                    <li class="banner-item-intro">Lorem Ipsum is simply dummy </li>
                                </ul>
                                <div class="home-btns">
                                    <div class="hands">
                                        <img src="./assets/img/svg/hand.png" alt="">
                                    </div>
                                    <div class="cir">
                                        <img src="./assets/img/svg/cir.png" alt="">
                                    </div>
                                    <a href="" class="btn btn-yellow">Đăng ký ngay</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="home-overlay"></div>
                        <img src="./assets/img/banner/home.png" alt="">
                        <div class="container">
                            <div class="home-wrap">
                                <h1 class="home-title">
                                    SỨC KHỎE CỦA BẠN <br>
                                    LÀ TRỌNG TÂM CỦA CHÚNG TÔI
                                </h1>
                                <p class="home-para">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's
                                </p>
                                <ul class="banner-lst-intro">
                                    <li class="banner-item-intro">Lorem Ipsum is simply dummy text of the printing and
                                    </li>
                                    <li class="banner-item-intro">Lorem Ipsum has been the industry's standard </li>
                                    <li class="banner-item-intro">Lorem Ipsum is simply dummy </li>
                                </ul>
                                <div class="home-btns">
                                    <div class="hands">
                                        <img src="./assets/img/svg/hand.png" alt="">
                                    </div>
                                    <div class="cir">
                                        <img src="./assets/img/svg/cir.png" alt="">
                                    </div>
                                    <a href="" class="btn btn-yellow">Đăng ký ngay</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="home-overlay"></div>
                        <img src="./assets/img/banner/home.png" alt="">
                        <div class="container">
                            <div class="home-wrap">
                                <h1 class="home-title">
                                    SỨC KHỎE CỦA BẠN <br>
                                    LÀ TRỌNG TÂM CỦA CHÚNG TÔI
                                </h1>
                                <p class="home-para">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's
                                </p>
                                <ul class="banner-lst-intro">
                                    <li class="banner-item-intro">Lorem Ipsum is simply dummy text of the printing and
                                    </li>
                                    <li class="banner-item-intro">Lorem Ipsum has been the industry's standard </li>
                                    <li class="banner-item-intro">Lorem Ipsum is simply dummy </li>
                                </ul>
                                <div class="home-btns">
                                    <div class="hands">
                                        <img src="./assets/img/svg/hand.png" alt="">
                                    </div>
                                    <div class="cir">
                                        <img src="./assets/img/svg/cir.png" alt="">
                                    </div>
                                    <a href="" class="btn btn-yellow">Đăng ký ngay</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="home-btn swiper-button-next"></div>
                <div class="home-btn swiper-button-prev"></div>
            </div>
            <div class="banner-dc">
                <div class="banner-dc-lst"></div>
            </div>
        </div>
        <div class="home-two">
            <div class="container">
                <div class="home-two-wrap">
                    <div class="home-two-imgs">
                        <img src="./assets/img/bacsi.png" alt="">
                    </div>
                    <div class="home-two-info">
                        <h2 data-aos="fade-left" data-aos-duration="1000">Chào mừng tới Y Tế Tam Châu</h2>
                        <h4 data-aos="fade-left" data-aos-duration="1000" data-aos-delay="300">
                            Trải qua hơn 10 năm kinh nghiệm, nghiên cứu và phục vụ trong lĩnh vực trang thiết bị y tế
                        </h4>
                        <p data-aos="fade-left" data-aos-duration="1000" data-aos-delay="600">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley
                        </p>
                        <div class="home-two-btns">
                            <div class="btn btn-yellow" data-aos="zoom-in" data-aos-duration="1000"
                                data-aos-delay="900">Xem thêm</div>
                            <a href="" class="home-two-phone" data-aos="fade-left" data-aos-duration="1000"
                                data-aos-delay="1200">
                                <div class="imgs"><img src="./assets/img/svg/phonecall2.svg" alt=""></div>
                                <span>+84 122 456 789</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-three">
            <img src="./assets/img/banner/homethree.png" alt="">
            <div class="container">
                <div class="home-three-wrap" data-aos="fade-up" data-aos-duration="1000">
                    <span>đặt hàng ngay</span>
                    <p>Chúng tôi cung cấp <br> nhiều loại vật dụng ý tế cần thiết</p>
                    <div class="btn btn-yellow" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="600">Đăng ký
                        ngay</div>
                </div>
            </div>
        </div>
        <div class="home-four">
            <div class="home-four-wrap">
                <div class="home-four-box">
                    <div class="home-four-box-left">
                        <div class="imgs">
                            <img src="./assets/img/banner/homefour.png" alt="">
                        </div>
                    </div>
                    <div class="home-four-box-right">
                        <div class="home-four-item" data-aos="flip-up" data-aos-duration="1000">
                            <div class="icon">
                                <img src="./assets/img/svg/heart.png" alt="">
                            </div>
                            <h4>Cam kết chất lượng và chế độ hậu mãi</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing</p>
                            <a href="">Xem thêm</a>
                        </div>
                        <div class="home-four-item" data-aos="flip-up" data-aos-duration="1000" data-aos-delay="300">
                            <div class="icon">
                                <img src="./assets/img/svg/fig.png" alt="">
                            </div>
                            <h4>Cam kết chất lượng và chế độ hậu mãi</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing</p>
                            <a href="">Xem thêm</a>
                        </div>
                        <div class="home-four-item" data-aos="flip-up" data-aos-duration="1000" data-aos-delay="600">
                            <div class="icon">
                                <img src="./assets/img/svg/plane.png" alt="">
                            </div>
                            <h4>Cam kết chất lượng và chế độ hậu mãi</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing</p>
                            <a href="">Xem thêm</a>
                        </div>
                        <div class="home-four-item" data-aos="flip-up" data-aos-duration="1000" data-aos-delay="900">
                            <div class="icon">
                                <img src="./assets/img/svg/phoneicon.png" alt="">
                            </div>
                            <h4>Cam kết chất lượng và chế độ hậu mãi</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing</p>
                            <a href="">Xem thêm</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sec-category home-five padding-sec">
            <div class="container">
                <div class="category-wrap" data-aos="fade-up" data-aos-duration="1000">
                    <h2 class="text-l m-b-8 text-center category-tit">Danh mục sản phẩm</h2>
                    <p class="text-1 text-center category-txt">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                    </p>
                    <div class="category-tab-content">
                        <div class="navigation">
                            <div class="navigation-prev navigation-slide">
                                <i class='bx bx-chevron-left'></i>
                            </div>
                            <div class="navigation-next navigation-slide">
                                <i class='bx bx-chevron-right'></i>
                            </div>
                        </div>
                        <div class="category-tab-lst flex flex-wrap">
                            <div class="category-tab-item active">
                                <div class="icon">
                                    <img src="./assets/img/svg/bandage-black-2.svg" alt="">
                                </div>
                                <div class="label text-4">Băng keo</div>
                            </div>
                            <div class="category-tab-item">
                                <div class="icon">
                                    <img src="./assets/img/svg/bandage-black.svg" alt="">
                                </div>
                                <div class="label text-4">Vật liệu cầm máu</div>
                            </div>
                            <div class="category-tab-item">
                                <div class="icon">
                                    <img src="./assets/img/svg/kit-black.svg" alt="">
                                </div>
                                <div class="label text-4">Lưới điều trị thoát vị</div>
                            </div>
                            <div class="category-tab-item">
                                <div class="icon">
                                    <img src="./assets/img/svg/bandage-black-2.svg" alt="">
                                </div>
                                <div class="label text-4">Chỉ phẫu thuật</div>
                            </div>
                        </div>
                        <div class="category-content-lst">
                            <div class="category-content-item active">
                                <div class="category-content-ct d-item">
                                    <h3 class="text-8 m-b-16 tit">BĂNG KEO</h3>
                                    <p class="text-9 m-b-8 txt-1">Lorem Ipsum is simply dummy text of the printing and
                                        typesetting industry. Lorem
                                        Ipsum has
                                    </p>
                                    <p class="text-1 m-b-30 txt-2" 7>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummytext ever since the 1500s,
                                    </p>
                                    <div class="home-btns">
                                        <div class="hands">
                                            <img src="./assets/img/svg/hand.png" alt="">
                                        </div>
                                        <div class="cir">
                                            <img src="./assets/img/svg/cir.png" alt="">
                                        </div>
                                        <a href="#" class="btn btn-yellow">Đăng ký ngay</a>
                                    </div>
                                </div>
                                <div class="category-content-img d-item">
                                    <div class="img">
                                        <img src="./assets/img/home-img-1.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="category-content-item">
                                <div class="category-content-ct d-item">
                                    <h3 class="text-8 m-b-16 tit">Vật liệu cầm máu</h3>
                                    <p class="text-9 m-b-8 txt-1">Lorem Ipsum is simply dummy text of the printing and
                                        typesetting industry. Lorem
                                        Ipsum has
                                    </p>
                                    <p class="text-1 m-b-30 txt-2">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummytext ever since the 1500s,
                                    </p>
                                    <div class="home-btns">
                                        <div class="hands">
                                            <img src="./assets/img/svg/hand.png" alt="">
                                        </div>
                                        <div class="cir">
                                            <img src="./assets/img/svg/cir.png" alt="">
                                        </div>
                                        <a href="#" class="btn btn-yellow">Đăng ký ngay</a>
                                    </div>
                                </div>
                                <div class="category-content-img d-item">
                                    <div class="img">
                                        <img src="./assets/img/home-img-1.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="category-content-item">
                                <div class="category-content-ct d-item">
                                    <h3 class="text-8 m-b-16 tit">Lưới điều trị thoát vị</h3>
                                    <p class="text-9 m-b-8 txt-1">Lorem Ipsum is simply dummy text of the printing and
                                        typesetting industry. Lorem
                                        Ipsum has
                                    </p>
                                    <p class="text-1 m-b-30 txt-2">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummytext ever since the 1500s,
                                    </p>
                                    <div class="home-btns">
                                        <div class="hands">
                                            <img src="./assets/img/svg/hand.png" alt="">
                                        </div>
                                        <div class="cir">
                                            <img src="./assets/img/svg/cir.png" alt="">
                                        </div>
                                        <a href="#" class="btn btn-yellow">Đăng ký ngay</a>
                                    </div>
                                </div>
                                <div class="category-content-img d-item">
                                    <div class="img">
                                        <img src="./assets/img/home-img-1.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="category-content-item">
                                <div class="category-content-ct d-item">
                                    <h3 class="text-8 m-b-16 tit">Chỉ phẫu thuật</h3>
                                    <p class="text-9 m-b-8 txt-1">Lorem Ipsum is simply dummy text of the printing and
                                        typesetting industry. Lorem
                                        Ipsum has
                                    </p>
                                    <p class="text-1 m-b-30 txt-2">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummytext ever since the 1500s,
                                    </p>
                                    <div class="home-btns">
                                        <div class="hands">
                                            <img src="./assets/img/svg/hand.png" alt="">
                                        </div>
                                        <div class="cir">
                                            <img src="./assets/img/svg/cir.png" alt="">
                                        </div>
                                        <a href="#" class="btn btn-yellow">Đăng ký ngay</a>
                                    </div>
                                </div>
                                <div class="category-content-img d-item">
                                    <div class="img">
                                        <img src="./assets/img/home-img-1.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sec-care home-six">
            <div class="container">
                <div class="care-wrap flex flex-wrap">
                    <div class="care-content">
                        <h3 class="text-l care-tit" data-aos="fade-right" data-aos-duration="1000">Chăm sóc sức khỏe
                            toàn diện của bạn</h3>
                        <p class="text-1 care-txt" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="300">
                            Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has
                            been the industry's standard dummytext ever since the 1500s,
                        </p>
                        <div class="action">
                            <button class="btn btn-l" data-aos="zoom-in" data-aos-duration="1000"
                                data-aos-delay="600">ĐĂNG KÍ NGAY</button>
                        </div>
                    </div>
                    <div class="care-image">
                        <div class="img">
                            <img src="./assets/img/home-img.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sec-reason home-seven">
            <div class="container">
                <div class="reason-wrap">
                    <h2 class="text-l text-center m-b-16 reason-tit">Tại sao chọn chúng tôi</h2>
                    <p class="text-center text-6 reason-txt">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy
                        text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                    </p>
                    <div class="reason-content pos-relative">
                        <div class="reason-image">
                            <div class="bg-shape"></div>
                            <img src="./assets/img/equipment-1.png" alt="">
                        </div>

                        <div class="reason-lst-wrap">
                            <div class="reason-lst left">
                                <div class="reason-lst-item" data-aos="fade-right" data-aos-duration="1000">
                                    <div class="gen-icon">
                                        <img src="./assets/img/svg/stethoscope.svg" alt="">
                                    </div>
                                    <h3 class="text-2 m-b-8 tit">Đội ngũ chuyên nghiệp</h3>
                                    <p class="text-1 text">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting
                                    </p>
                                </div>
                                <div class="reason-lst-item flex-jc-end" data-aos="fade-right" data-aos-duration="1000"
                                    data-aos-delay="300">
                                    <div class="gen-icon">
                                        <img src="./assets/img/svg/medicine.svg" alt="">
                                    </div>
                                    <h3 class="text-2 m-b-8 tit">Đội ngũ chuyên nghiệp</h3>
                                    <p class="text-1 text">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting
                                    </p>
                                </div>
                            </div>
                            <div class="reason-lst right">
                                <div class="reason-lst-item" data-aos="fade-left" data-aos-duration="1000">
                                    <div class="gen-icon">
                                        <img src="./assets/img/svg/stethoscope.svg" alt="">
                                    </div>
                                    <h3 class="text-2 m-b-8 tit">Đội ngũ chuyên nghiệp</h3>
                                    <p class="text-1 text">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting
                                    </p>
                                </div>
                                <div class="reason-lst-item" data-aos="fade-left" data-aos-duration="1000"
                                    data-aos-delay="300">
                                    <div class="gen-icon">
                                        <img src="./assets/img/svg/medicine.svg" alt="">
                                    </div>
                                    <h3 class="text-2 m-b-8 tit">Đội ngũ chuyên nghiệp</h3>
                                    <p class="text-1 text">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-eight">
            <div class="section-wrap flex flex-wrap">
                <div class="content-video pos-relative">
                    <div class="video">
                        <iframe src="https://www.youtube.com/embed/RNdyyjxRbxQ" title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
                <div class="content-text flex flex-wrap flex-jc-center" data-aos="zoom-in" data-aos-duration="1000">
                    <h3 class="text-center text-l tit">Điểm đến cho mọi nhu cầu về thiết bị y tế của bạn</h3>
                    <p class="text-center text-1 txt m-b-30">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s
                    </p>
                    <button class="btn btn-l">ĐĂNG KÍ NGAY</button>
                </div>
            </div>
        </div>
        <div class="sec-partner padding-sec-1">
            <div class="container">
                <div class="partner-wrap pos-relative" data-aos="fade-up" data-aos-duration="1000">
                    <h2 class="text-center color-white text-l partner-tit">Đối tác và khách hàng</h2>
                    <div class="partner-silde">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="rate m-b-30">
                                    <ul class="rate-lst flex">
                                        <li class="rate-item active">
                                            <i class='bx bxs-star'></i>
                                        </li>
                                        <li class="rate-item active">
                                            <i class='bx bxs-star'></i>
                                        </li>
                                        <li class="rate-item active">
                                            <i class='bx bxs-star'></i>
                                        </li>
                                        <li class="rate-item active">
                                            <i class='bx bxs-star'></i>
                                        </li>
                                        <li class="rate-item">
                                            <i class='bx bxs-star'></i>
                                        </li>
                                    </ul>
                                </div>
                                <p class="intro text-6">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummytext ever since the 1500s, Lorem Ipsum
                                    has
                                </p>
                                <div class="avatar">
                                    <img src="./assets/img/avatar.png" alt="">
                                </div>
                                <p class="name text-7">Wade Warren</p>
                                <p class="position text-uppercase text-5">TESTER</p>
                            </div>
                            <div class="swiper-slide">
                                <div class="rate m-b-30">
                                    <ul class="rate-lst flex">
                                        <li class="rate-item active">
                                            <i class='bx bxs-star'></i>
                                        </li>
                                        <li class="rate-item active">
                                            <i class='bx bxs-star'></i>
                                        </li>
                                        <li class="rate-item active">
                                            <i class='bx bxs-star'></i>
                                        </li>
                                        <li class="rate-item active">
                                            <i class='bx bxs-star'></i>
                                        </li>
                                        <li class="rate-item">
                                            <i class='bx bxs-star'></i>
                                        </li>
                                    </ul>
                                </div>
                                <p class="intro text-6">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummytext ever since the 1500s, Lorem Ipsum
                                    has
                                </p>
                                <div class="avatar">
                                    <img src="./assets/img/avatar.png" alt="">
                                </div>
                                <p class="name text-7">Wade Warren</p>
                                <p class="position text-uppercase text-5">TESTER</p>
                            </div>
                            <div class="swiper-slide">
                                <div class="rate m-b-30">
                                    <ul class="rate-lst flex">
                                        <li class="rate-item active">
                                            <i class='bx bxs-star'></i>
                                        </li>
                                        <li class="rate-item active">
                                            <i class='bx bxs-star'></i>
                                        </li>
                                        <li class="rate-item active">
                                            <i class='bx bxs-star'></i>
                                        </li>
                                        <li class="rate-item active">
                                            <i class='bx bxs-star'></i>
                                        </li>
                                        <li class="rate-item">
                                            <i class='bx bxs-star'></i>
                                        </li>
                                    </ul>
                                </div>
                                <p class="intro text-6">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummytext ever since the 1500s, Lorem Ipsum
                                    has
                                </p>
                                <div class="avatar">
                                    <img src="./assets/img/avatar.png" alt="">
                                </div>
                                <p class="name text-7">Wade Warren</p>
                                <p class="position text-uppercase text-5">TESTER</p>
                            </div>
                        </div>
                    </div>
                    <div class="navigation-noBg navigation-partner-next navigation-next navigation-swiper">
                        <i class='bx bx-chevron-right'></i>
                    </div>
                    <div class="navigation-noBg navigation-partner-prev navigation-prev navigation-swiper">
                        <i class='bx bx-chevron-left'></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="sec-news home-ten padding-sec">
            <div class="container">
                <h2 class="text-center text-l news-tit m-b-30" data-aos="fade-up" data-aos-duration="1000">Tin tức</h2>
                <div class="news-wrap">
                    <div class="news-main news-i pos-relative" data-aos="fade-right" data-aos-duration="1000">
                        <div class="img img-main m-b-16">
                            <img src="./assets/img/home-img-2.png" alt="">
                            <div class="news-date pos-abs flex flex-column flex-ai-center">
                                <span class="day">15</span>
                                <span class="month">Tháng 04</span>
                            </div>
                        </div>
                        <a href="#" class="text-4 m-b-8">Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. </a>
                        <p class="text-10">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard </p>
                    </div>
                    <div class="news-lst flex flex-wrap news-i">
                        <div class="news-lst-item flex" data-aos="fade-left" data-aos-duration="1000"
                            data-aos-delay="800">
                            <div class="img img-item">
                                <img src="./assets/img/about-img-1.png" alt="">
                            </div>
                            <div class="news-ct">
                                <div class="date">
                                    <div class="icon">
                                        <img src="./assets/img/svg/calendar.svg" alt="">
                                    </div>
                                    <span class="text text-1">14, tháng 4, năm 2022</span>
                                </div>
                                <a href="#" class="text-4">Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry</a>
                            </div>
                        </div>
                        <div class="news-lst-item flex" data-aos="fade-left" data-aos-duration="1000"
                            data-aos-delay="1000">
                            <div class="img img-item">
                                <img src="./assets/img/home-img-4.png" alt="">
                            </div>
                            <div class="news-ct">
                                <div class="date">
                                    <div class="icon">
                                        <img src="./assets/img/svg/calendar.svg" alt="">
                                    </div>
                                    <span class="text text-1">14, tháng 4, năm 2022</span>
                                </div>
                                <a href="#" class="text-4">Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry</a>
                            </div>
                        </div>
                        <div class="news-lst-item flex" data-aos="fade-left" data-aos-duration="1000"
                            data-aos-delay="1200">
                            <div class="img img-item">
                                <img src="./assets/img/home-img-5.png" alt="">
                            </div>
                            <div class="news-ct">
                                <div class="date">
                                    <div class="icon">
                                        <img src="./assets/img/svg/calendar.svg" alt="">
                                    </div>
                                    <span class="text text-1">14, tháng 4, năm 2022</span>
                                </div>
                                <a href="#" class="text-4">Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry</a>
                            </div>
                        </div>
                        <div class="news-lst-item flex" data-aos="fade-left" data-aos-duration="1000"
                            data-aos-delay="1400">
                            <div class="img img-item">
                                <img src="./assets/img/home-img-6.png" alt="">
                            </div>
                            <div class="news-ct">
                                <div class="date">
                                    <div class="icon">
                                        <img src="./assets/img/svg/calendar.svg" alt="">
                                    </div>
                                    <span class="text text-1">14, tháng 4, năm 2022</span>
                                </div>
                                <a href="#" class="text-4">Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="brand">
            <div class="brand-wrap">
                    <div class="container">
                    <div class="swiper brandSwiper">
                        <div class="swiper-wrapper">
                            <a href="#" class="swiper-slide">
                                <p class="slide-over">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum
                                    has been the industry's standard
                                </p>
                                <div class="img">
                                    <img src="./assets/img/iconBVQ2.png" alt="">
                                </div>
                            </a>
                            <a href="#" class="swiper-slide">
                                <p class="slide-over">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum
                                    has been the industry's standard
                                </p>
                                <div class="img">
                                    <img src="./assets/img/iconBVQTP.png" alt="">
                                </div>
                            </a>
                            <a href="#" class="swiper-slide">
                                <p class="slide-over">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum
                                    has been the industry's standard
                                </p>
                                <div class="img">
                                    <img src="./assets/img/iconBVTD.png" alt="">
                                </div>
                            </a>
                            <a href="#" class="swiper-slide">
                                <p class="slide-over">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum
                                    has been the industry's standard
                                </p>
                                <div class="img">
                                    <img src="./assets/img/iconBVQ2.png" alt="">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="move-to-top moveToTop">
        <div class="pyramid"></div>
        <div class="pyramid"></div>
        <div class="pyramid"></div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="footer-wrap">
                <ul class="footer-item">
                    <li>
                        <div class="logo">
                            <img src="./assets/img/logo/logo.png" alt="">
                        </div>
                    </li>
                    <li>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy t
                        </p>
                    </li>
                    <li>
                        <div class="footer-socials">
                            <a href=""><i class='bx bxl-facebook'></i></a>
                            <a href=""><i class='bx bxl-linkedin'></i></a>
                            <a href=""><i class='bx bxl-twitter'></i></a>
                        </div>
                    </li>
                </ul>
                <ul class="footer-item">
                    <li class="head">Về chúng tôi</li>
                    <ul class="footer-nav">
                        <ul>
                            <li><a href="">Trang chủ</a></li>
                            <li><a href="">Về chúng tôi</a></li>
                            <li><a href="">Sản phẩn</a></li>
                        </ul>
                        <ul>
                            <li><a href="">Nghiên cứu & phát triển</a></li>
                            <li><a href="">Tin tức</a></li>
                            <li><a href="">Tuyển dụng</a></li>
                        </ul>
                    </ul>

                </ul>
                <ul class="footer-item">
                    <li class="head">Liên hệ</li>
                    <li class="footer-contact"><img src="./assets/img/svg/phone2.svg" alt=""><a href="">Hotline : +84
                            124 456 789</a></li>
                    <li class="footer-contact"><img src="./assets/img/svg/mail2.svg" alt=""><a href="">Email :
                            info123@gmail.com</a></li>
                    <li class="footer-contact"><img src="./assets/img/svg/locate.svg" alt=""><a href="">Địa chỉ :
                            373/226 Lý Thường Kiệt,
                            phường 8
                            quận Tân Bình, TP.HCM </a></li>
                </ul>
            </div>
        </div>
        <div class="footer-credit">
            Web được thiết kế bởi Mona Meida
        </div>
    </footer>
    <script src="./js/libs/jquery/jquery.min.js"></script>
    <script src="./js/libs/swiper/swiper-bundle.min.js"></script>
    <script src="./js/libs/magnific/jquery.magnific-popup.min.js"></script>
    <script src="./js/libs/aos/aos.js"></script>
    <script src="./js/main.js" type="module"></script>
</body>

</html>