<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sản phẩm chi tiết</title>

    <link rel="stylesheet" href="./js/libs/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="./css/style.css">

</head>

<body>
    <header class="header">
        <div class="header-top">
            <div class="container">
                <div class="header-top-wrap">
                    <div class="logo">
                        <img src="./assets/img/logo/logo.png" alt="">
                    </div>
                    <div class="header-info">
                        <div class="header-item">
                            <img src="./assets/img/svg/wall-clock 1.svg" alt="">
                            <div class="header-item-box">
                                <span>Làm việc</span>
                                <p>Thứ 2 - Thứ 7 08:30 - 18:00</p>
                            </div>
                        </div>
                        <div class="header-item">
                            <img src="./assets/img/svg/phone-call 1.svg" alt="">
                            <div class="header-item-box">
                                <span>Hotline</span>
                                <p>+84 122 456 789</p>
                            </div>
                        </div>
                        <div class="header-item">
                            <img src="./assets/img/svg/mail.svg" alt="">
                            <div class="header-item-box">
                                <span>Email</span>
                                <p>Info123@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <div class="header-bottom-wrap">
                    <div class="logo">
                        <img src="./assets/img/logo/logo.png" alt="">
                    </div>
                    <nav class="header-nav">
                        <ul id="menu">
                            <li class="parent"><a href="">Trang chủ</a></li>
                            <li class="parent"><a href="">Về chúng tôi</a></li>
                            <li class="parent"><a href="">Sản phẩm</a></li>
                            <li class="parent">
                                <a href="">Nghiên cứu & Phát triển</a><i class='bx bxs-chevron-down'></i>
                                <ul class="child">
                                    <li><a href="">Nghiên cứu</a></li>
                                    <li><a href="">Phát triển</a></li>
                                    <li><a href="">Phát triển</a></li>
                                </ul>
                            </li>
                            <li class="parent"><a href="">Tin tức</a></li>
                            <li class="parent"><a href="">Tuyển dụng</a></li>
                            <li class="parent"><a href="">Liên hệ</a></li>
                        </ul>
                    </nav>

                    <div class="burger burger-js">
                        <div class="burger-line"></div>
                        <div class="burger-line"></div>
                        <div class="burger-line"></div>
                    </div>
                    <div class="menu-mobile mobilemenu-js">
                        <div class="menu-mobile-wrap">
                            <div class="wrap">
                                <main>
                                    <section id="vert-nav">
                                        <nav role='navigation'>
                                            <ul class="topmenu">
                                                <li><a class="sidebarhead" href="#0">Trang chủ</a></li>
                                                <li><a class="sidebarhead" href="#0">Về Chúng tôi</a></li>
                                                <li><a class="sidebarhead" href="#0">Sản phẩm</a></a>
                                                    <ul class="submenu">
                                                        <li><a href="#0">Bandage</a></li>
                                                        <li><a href="#0">Thread</a></li>
                                                        <li><a href="#0">Hemostatic</a></li>
                                                    </ul>
                                                </li>
                                                <li><a class="sidebarhead" href="#0">Nghiên cứu & phát triển</a></li>
                                                <li><a class="sidebarhead" href="#0">Tin tức</a></li>
                                                <li><a class="sidebarhead" href="#0">Tuyển dụng</a></li>
                                                <li><a class="sidebarhead" href="#0">Liên hệ</a></li>
                                            </ul>
                                        </nav>
                                    </section>
                                </main>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="bg-fade"></div>

    <main class="main">
        <div class="sec-breadcrumb">
            <div class="container">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Sản phẩm</a></li>
                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Băng keo cá nhân Sogi vải</a></li>
                </ul>
            </div>
        </div>

        <div class="sec-product padding-sec">
            <div class="container">
                <div class="product-wrap flex flex-wrap">
                    <div class="slide-image flex-item">
                        <div class="slide-wrap">
                            <div class="product-gallery">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="gen-relative">
                                            <div class="img">
                                                <img src="./assets/img/product-1.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="gen-relative">

                                            <div class="img">
                                                <img src="./assets/img/product-2.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="gen-relative">

                                            <div class="img">
                                                <img src="./assets/img/product-1.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="gen-relative">

                                            <div class="img">
                                                <img src="./assets/img/product-1.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery-thumbs">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="gen-relative">

                                            <div class="img">
                                                <img src="./assets/img/product-1.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="gen-relative">

                                            <div class="img">
                                                <img src="./assets/img/product-2.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="gen-relative">

                                            <div class="img">
                                                <img src="./assets/img/product-1.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="gen-relative">

                                            <div class="img">
                                                <img src="./assets/img/product-1.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-info flex-item">
                        <h2 class="name text-l m-b-8">Băng keo cá nhân Sogi vải</h2>
                        <div class="rate m-b-8">
                            <ul class="rate-lst flex">
                                <li class="rate-item active">
                                    <i class='bx bxs-star' ></i>
                                </li>
                                <li class="rate-item active">
                                    <i class='bx bxs-star' ></i>
                                </li>
                                <li class="rate-item active">
                                    <i class='bx bxs-star' ></i>
                                </li>
                                <li class="rate-item active">
                                    <i class='bx bxs-star' ></i>
                                </li>
                                <li class="rate-item">
                                    <i class='bx bxs-star' ></i>
                                </li>
                            </ul>
                        </div>
                        <p class="des text-1 m-b-16">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s,
                        </p>
                        <ul class="properties-lst m-b-30">
                            <li class="properties-item">
                                <span class="properties-tit text-2">Màu sắc</span>
                                <span class="color-lst flex">
                                    <span class="color-control">
                                        <input type="radio" class="color-input" name="color" id="color-1"
                                            checked="true">
                                        <label for="color-1" class="color-label color-1"></label>
                                    </span>
                                    <span class="color-control">
                                        <input type="radio" class="color-input" name="color" id="color-2">
                                        <label for="color-2" class="color-label color-2"></label>
                                    </span>
                                </span>
                            </li>
                            <li class="properties-item">
                                <span class="properties-tit text-2">Thương hiệu</span>
                                <span class="properties-txt text-1">Sogi</span>
                            </li>
                            <li class="properties-item">
                                <span class="properties-tit text-2">Xuất sứ</span>
                                <span class="properties-txt text-1">Đài Loan</span>
                            </li>
                            <li class="properties-item">
                                <span class="properties-tit text-2">Kích thước</span>
                                <span class="properties-txt text-1">7.2 x 1.9 cm (D x R)</span>
                            </li>
                        </ul>
                        <a href="#" class="btn btn-l">ĐĂNG KÍ NGAY</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="sec-info padding-sec">
            <div class="container">
                <div class="tab-lst">
                    <ul class="lst flex">
                        <li class="tab-item color-white text-1 active">Mô tả sản phẩm</li>
                        <li class="tab-item color-white text-1">Chi tiết vận chuyển</li>
                        <li class="tab-item color-white text-1">Thông tin chi tiết</li>
                    </ul>
                </div>
                <div class="tab-content">
                    <ul class="lst">
                        <li class="tab-content-item tab-description active">
                            <p class="tab-txt m-b-16">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged. It was popularised in the 1960s with the release of
                                Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                                publishing software like Aldus PageMaker including versions of Lorem Ipsum
                            </p>
                            <p class="tab-txt-bold tab-txt m-b-8">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p>
                            <p class="tab-txt m-b-16">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged. It was popularised in the 1960s with the release of
                                Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                                publishing software like Aldus PageMaker including versions of Lorem Ipsum
                            </p>
                            <p class="tab-txt-bold tab-txt m-b-8">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p>
                            <p class="tab-txt ">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged. It was popularised in the 1960s with the release of
                                Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                                publishing software like Aldus PageMaker including versions of Lorem Ipsum
                            </p>
                        </li>

                        <li class="tab-content-item tab-transport">
                            <p class="tab-txt m-b-16">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged. It was popularised in the 1960s with the release of
                                Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                                publishing software like Aldus PageMaker including versions of Lorem Ipsum
                            </p>
                            <p class="tab-txt-bold tab-txt m-b-8">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p>
                            <p class="tab-txt m-b-16">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged. It was popularised in the 1960s with the release of
                                Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                                publishing software like Aldus PageMaker including versions of Lorem Ipsum
                            </p>
                            <p class="tab-txt-bold tab-txt m-b-8">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p>
                            <p class="tab-txt ">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged. It was popularised in the 1960s with the release of
                                Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                                publishing software like Aldus PageMaker including versions of Lorem Ipsum
                            </p>
                        </li>

                        <div class="tab-content-item tab-detail">
                            <p class="tab-txt m-b-16">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged. It was popularised in the 1960s with the release of
                                Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                                publishing software like Aldus PageMaker including versions of Lorem Ipsum
                            </p>
                            <table class="tab-table tb-dt">
                                <tbody>
                                    <tr>
                                        <td class="row-tb  row-1">
                                            <span class="tab-txt-bold">Thương hiệu</span>
                                        </td>
                                        <td>
                                            <span class="tab-txt">Sogi</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="row-tb row-1">
                                            <span class="tab-txt-bold">Xuất xứ</span>
                                        </td>
                                        <td>
                                            <span class="tab-txt">Đài Loan</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="row-tb row-1">
                                            <span class="tab-txt-bold">Xuất xứ thương hiệu</span>
                                        </td>
                                        <td>
                                            <span class="tab-txt">Đài Loan</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="row-tb row-1">
                                            <span class="tab-txt-bold">Kích thước</span>
                                        </td>
                                        <td>
                                            <span class="tab-txt">7.2 x 1.9 cm</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </ul>
                </div>
            </div>
        </div>

        <div class="sec-related-products padding-sec">
            <div class="container">
                <h2 class="name text-l m-b-30 text-center">Sản phẩm liên quan</h2>
                <div class="list-content">
                    <div class="related-list">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="list-item">
                                    <div class="newtag">new</div>
                                    <div class="img">
                                        <img src="./assets/img/item.png" alt="">
                                        <div class="img-over">
                                            <div class="circle">
                                                <a href="" class="circles circle-link"><i class='bx bx-link'></i></a>
                                                <a href="" class="circles circle-search"><i
                                                        class='bx bx-search'></i></a>
                                            </div>
                                            <a href="" class="btn btn-yellow btn-md">
                                                <p>Xem thêm</p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="info">
                                        <h4 class="title">Băng keo cá nhân Sogi vải</h4>
                                        <div class="color">
                                            <div class="color-item"></div>
                                            <div class="color-item"></div>
                                        </div>
                                        <div class="rate">
                                            <i class='bx bxs-star active'></i>
                                            <i class='bx bxs-star active'></i>
                                            <i class='bx bxs-star active'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="list-item">
                                    <div class="img">
                                        <img src="./assets/img/item.png" alt="">
                                        <div class="img-over">
                                            <div class="circle">
                                                <a href="" class="circles circle-link"><i class='bx bx-link'></i></a>
                                                <a href="" class="circles circle-search"><i
                                                        class='bx bx-search'></i></a>
                                            </div>
                                            <a href="" class="btn btn-yellow btn-md">
                                                <p>Xem thêm</p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="info">
                                        <h4 class="title">Băng keo cá nhân Sogi vải</h4>
                                        <div class="color">
                                            <div class="color-item"></div>
                                            <div class="color-item"></div>
                                        </div>
                                        <div class="rate">
                                            <i class='bx bxs-star active'></i>
                                            <i class='bx bxs-star active'></i>
                                            <i class='bx bxs-star active'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="list-item">
                                    <div class="img">
                                        <img src="./assets/img/item.png" alt="">
                                        <div class="img-over">
                                            <div class="circle">
                                                <a href="" class="circles circle-link"><i class='bx bx-link'></i></a>
                                                <a href="" class="circles circle-search"><i
                                                        class='bx bx-search'></i></a>
                                            </div>
                                            <a href="" class="btn btn-yellow btn-md">
                                                <p>Xem thêm</p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="info">
                                        <h4 class="title">Băng keo cá nhân Sogi vải</h4>
                                        <div class="color">
                                            <div class="color-item"></div>
                                            <div class="color-item"></div>
                                        </div>
                                        <div class="rate">
                                            <i class='bx bxs-star active'></i>
                                            <i class='bx bxs-star active'></i>
                                            <i class='bx bxs-star active'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="list-item">
                                    <div class="img">
                                        <img src="./assets/img/item.png" alt="">
                                        <div class="img-over">
                                            <div class="circle">
                                                <a href="" class="circles circle-link"><i class='bx bx-link'></i></a>
                                                <a href="" class="circles circle-search"><i
                                                        class='bx bx-search'></i></a>
                                            </div>
                                            <a href="" class="btn btn-yellow btn-md">
                                                <p>Xem thêm</p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="info">
                                        <h4 class="title">Băng keo cá nhân Sogi vải</h4>
                                        <div class="color">
                                            <div class="color-item"></div>
                                            <div class="color-item"></div>
                                        </div>
                                        <div class="rate">
                                            <i class='bx bxs-star active'></i>
                                            <i class='bx bxs-star active'></i>
                                            <i class='bx bxs-star active'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="brand">
            <div class="brand-wrap">
                <div class="swiper brandSwiper">
                    <div class="swiper-wrapper">
                        <a href="" class="swiper-slide">
                            <p class="slide-over">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard
                            </p>
                            <img src="./assets/img/iconBVQ2.png" alt="">
                        </a>
                        <a href="" class="swiper-slide">
                            <p class="slide-over">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard
                            </p>
                            <img src="./assets/img/iconBVQTP.png" alt="">
                        </a>
                        <a href="" class="swiper-slide">
                            <p class="slide-over">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard
                            </p>
                            <img src="./assets/img/iconBVTD.png" alt="">
                        </a>
                        <a href="" class="swiper-slide">
                            <p class="slide-over">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard
                            </p>
                            <img src="./assets/img/iconBVQ2.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div class="popup-detail">
        <div class="container">
            <span class="close pos-abs"><i class='bx bx-x'></i></span>
            <div class="product-wrap flex flex-wrap">
                <div class="slide-image pos-relative flex-item">
                    <div class="slide-wrap">
                        <div class="product-gallery-pu">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="gen-relative">
                                        <div class="img">
                                            <img src="./assets/img/product-1.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="gen-relative">

                                        <div class="img">
                                            <img src="./assets/img/product-2.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="gen-relative">

                                        <div class="img">
                                            <img src="./assets/img/product-1.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="gen-relative">

                                        <div class="img">
                                            <img src="./assets/img/product-1.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-btn-next pu-next swiper-btn">
                        <i class='bx bx-chevron-right'></i>
                    </div>
                    <div class="swiper-btn-prev pu-prev swiper-btn">
                        <i class='bx bx-chevron-left' ></i>
                    </div>
                </div>
                <div class="product-info flex-item">
                    <h2 class="name text-l m-b-8">Băng keo cá nhân Sogi vải</h2>
                    <p class="des text-1 m-b-16">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been the industry's standard dummy text ever since the 1500s,
                    </p>
                    <ul class="properties-lst m-b-30">
                        <li class="properties-item">
                            <span class="properties-tit text-2">Màu sắc</span>
                            <span class="color-lst flex">
                                <span class="color-control">
                                    <input type="radio" class="color-input" name="color" id="color-1" checked="true">
                                    <label for="color-1" class="color-label color-1"></label>
                                </span>
                                <span class="color-control">
                                    <input type="radio" class="color-input" name="color" id="color-2">
                                    <label for="color-2" class="color-label color-2"></label>
                                </span>
                            </span>
                        </li>
                        <li class="properties-item">
                            <span class="properties-tit text-2">Thương hiệu</span>
                            <span class="properties-txt text-1">Sogi</span>
                        </li>
                    </ul>
                    <a href="#" class="btn btn-l">ĐĂNG KÍ NGAY</a>
                    <a href="#" class="link-arrow text-3">Xem chi tiết</a>
                </div>
            </div>
        </div>
    </div>

    <div class="move-to-top moveToTop">
        <div class="pyramid"></div>
        <div class="pyramid"></div>
        <div class="pyramid"></div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="footer-wrap">
                <ul class="footer-item">
                    <li>
                        <div class="logo">
                            <img src="./assets/img/logo/logo.png" alt="">
                        </div>
                    </li>
                    <li>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy t
                        </p>
                    </li>
                    <li>
                        <div class="footer-socials">
                            <a href=""><i class='bx bxl-facebook'></i></a>
                            <a href=""><i class='bx bxl-linkedin'></i></a>
                            <a href=""><i class='bx bxl-twitter'></i></a>
                        </div>
                    </li>
                </ul>
                <ul class="footer-item">
                    <li class="head">Về chúng tôi</li>
                    <ul class="footer-nav">
                        <ul>
                            <li><a href="">Trang chủ</a></li>
                            <li><a href="">Về chúng tôi</a></li>
                            <li><a href="">Sản phẩn</a></li>
                        </ul>
                        <ul>
                            <li><a href="">Nghiên cứu & phát triển</a></li>
                            <li><a href="">Tin tức</a></li>
                            <li><a href="">Tuyển dụng</a></li>
                        </ul>
                    </ul>

                </ul>
                <ul class="footer-item">
                    <li class="head">Liên hệ</li>
                    <li class="footer-contact"><img src="./assets/img/svg/phone2.svg" alt=""><a href="">Hotline : +84
                            124 456 789</a></li>
                    <li class="footer-contact"><img src="./assets/img/svg/mail2.svg" alt=""><a href="">Email :
                            info123@gmail.com</a></li>
                    <li class="footer-contact"><img src="./assets/img/svg/locate.svg" alt=""><a href="">Địa chỉ :
                            373/226 Lý Thường Kiệt,
                            phường 8
                            quận Tân Bình, TP.HCM </a></li>
                </ul>
            </div>
        </div>
        <div class="footer-credit">
            Web được thiết kế bởi Mona Meida
        </div>
    </footer>
    <script src="./js/libs/jquery/jquery.min.js"></script>
    <script src="./js/libs/swiper/swiper-bundle.min.js"></script>
    <script src="./js/libs/magnific/jquery.magnific-popup.min.js"></script>
    <script src="./js/main.js" type="module"></script>
</body>

</html>