.brand {
    width: 100%;
    overflow: hidden;

    &-wrap {
        padding: 60px 0;
        background-color: $color-gray;

        @media (max-width: 800px) {
            padding: 4.5rem 0;
          }
        
          @media (max-width: 420px) {
            padding: 3rem 0;
          }

        .swiper-slide {
            padding-top: 12.14%;
            border-radius: 5px;
            @include flex(center, center);
            position: relative;
            overflow: hidden;
            background-color: $color-white;

            @media (max-width: 800px) {
                padding-top: 18.14%;
            }

            @media (max-width: 600px) {
                padding-top: 28.14%;
            }

            @media (max-width: 420px) {
                padding-top: 42%;
            }

            &:hover {
                .slide-over {
                    opacity: 1;
                }
            }

            .slide-over {
                position: absolute;
                @include flex(center, center);
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                padding: 20px;
                @include fz-14;
                color: $color-white;
                background-color: $color-black-opa6;
                font-weight: 400;
                transition: all 0.5s ease-in-out;
                opacity: 0;
                z-index: 1;

                @media (max-width: 600px) {
                    padding: 1.5rem;
                }
            }

            .img {
                @include abs-fw;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);    
                padding: 2.1rem 0;  
                text-align: center;
                height: max-content;
                @media (max-width: 600px) {
                    padding: 1.5rem 0; 
                } 
                img {
                    height: 100%;
                    width: auto;
                }
            }
        }


    }

    &.white-bg {
        .brand-wrap {
            background: white;
        }

        .swiper-slide {
            border: 1px solid $color-black-opa1;
        }
    }
}