.shape {
    width: calc(100% * 4 /12);
    position: relative;

    @media (max-width: 1200px) {
        width: 30%;
    }

    @media (max-width: 1024px) {
        width: 50%;
    }

    @media (max-width: 600px) {
        width: 80%;
    }

    &::before {
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        width: 120%;
        height: 120%;
        transform: translate(-50%, -50%);
        display: block;
        float: left;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        -khtml-border-radius: 50%;
        border: 3px solid $color-FF9900;
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;

        @media (max-width: 1350px) {
            width: 115%;
            height: 115%;
        }
    }

    &-wrap {
        box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.16);
        border-radius: 50%;
        // overflow: hidden;
        width: 100%;
        height: 100%;
    }

    &-slide {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;

        .swiper {
            &-slide {
                @include flexx;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }

        }
    }

    &-pagination {
        top: 50%;
        margin-top: 1.6rem;
        bottom: auto;
    }

    &-col {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        @media (max-width: 1024px) {
            transform: none;
            position: relative;
            top: auto;
        }

        &.right {
            width: 100%;
            left: 120%;

            @media (max-width: 1350px) {
                left: 115%;
            }

            @media (max-width: 1024px) {
                left: 1.5rem;
            }

            .shape-icon {
                margin-right: auto;
                transform: translateX(-50%);

                @media (max-width: 1024px) {
                    margin-right: 0;
                    margin-left: auto;
                }
            }

            .name {
                justify-content: flex-start;
            }

            .shape-item-sm {
                @media (min-width: 1024px) {
                    &:nth-child(3n + 2) {
                        transform: translateX(3.2rem)
                    }

                    &:nth-child(3),
                    &:nth-child(4) {
                        transform: translateX(6rem)
                    }
                }
            }

            .shape-info-content {
                text-align: left;
            }

            .shape-point-des {
                left: -4rem;
            }

            .shape-info {
                padding-left: 1rem;

                @media (max-width: 600px) {
                    padding-left: 0;
                }
            }
        }

        &.left {
            right: 120%;
            width: 100%;
            height: auto;

            @media (max-width: 1350px) {
                right: 115%;
            }

            @media (max-width: 1024px) {
                right: 1.5rem;
            }

            @media (max-width: 600px) {
                margin-bottom: 3rem;
            }

            .shape-icon {
                margin-left: auto;
                transform: translateX(50%);

                @media (max-width: 1024px) {
                    margin-left: 0;
                    // ma
                }
            }

            .name {
                justify-content: flex-end;
            }

            .shape-item-sm {
                @media (min-width: 1024px) {
                    &:nth-child(3n + 2) {
                        transform: translateX(-3.2rem)
                    }

                    &:nth-child(3),
                    &:nth-child(4) {
                        transform: translateX(-6rem)
                    }
                }
            }

            .shape-info-wrap {
                margin-left: auto;
            }

            .shape-point-des {
                right: -4rem;
            }

            .info {
                margin-left: auto;
            }

            .shape-info {
                padding-right: 1rem;

                @media (max-width: 600px) {
                    padding-right: 0;
                }
            }
        }

        .name {
            height: 5rem;
            display: flex;
            align-items: center;
        }

        .info {
            color: $color-black-opa7;
            margin-bottom: 0.8rem;
            min-width: 24.2rem;
            cursor: context-menu;

            @media (max-width: 1350px) {
                min-width: auto;
                max-width: 22rem
            }
        }
    }

    &-item {
        &-sm {
            position: relative;
            cursor: pointer;
            transition: all 0.3s;

            &:not(:last-child) {
                margin-bottom: 3rem;
            }

            @media (min-width: 1024px) {
                &:hover {
                    // transform: translateY(1.2rem);

                    .shape-info-wrap {
                        &::before {
                            top: -2rem;
                            height: calc(100% + 2rem);
                            box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.16);
                        }
                    }
                }
            }

        }
    }

    &-icon {
        width: 5rem;
        height: 5rem;
        background: black;
        @include mid-flex();
        border-radius: 50%;
    }

    &-info {
        transition: all 0.5s;
        position: absolute;
        top: 0px;
        width: 100%;

        &-wrap {
            position: relative;
            width: 90%;
            padding: 0 5.5rem;

            @media (max-width: 1350px) {
                padding: 0 3.5rem;
            }

            @media (max-width: 600px) {
                padding: 0 1.5rem;
            }

            &::before {
                position: absolute;
                content: "";
                width: 100%;
                height: calc(100% - 0.6rem);
                background: white;
                z-index: -1;
                top: 0.3rem;
                right: 0;
                transition: all 0.5s ease-in-out;
                border-radius: 5px;
            }
        }

        &-content {
            display: none;
            padding-bottom: 3rem;
        }
    }

    &-link {
        color: $color-FF9900;
    }

    &-points {
        position: absolute;
        height: 87%;
        width: 19%;
        top: 50%;
        transform: translateY(-50%);

        @media (max-width: 1350px) {
            height: 85.5%;
        }

        @media (max-width: 1024px) {
            opacity: 0;
            pointer-events: none;
        }

        &-lst {
            @include flexx();
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }

        &.left {
            left: -11%;

            @media (max-width: 1350px) {
                left: -8%;
            }

            .shape-point {

                &:first-child,
                &:last-child {
                    margin-left: auto;
                }

                &:nth-child(2),
                &:nth-last-child(2) {
                    margin-left: 25%;
                }
            }
        }

        &.right {
            right: -11%;

            @media (max-width: 1350px) {
                right: -8%;
            }

            .shape-point {

                &:first-child,
                &:last-child {
                    margin-right: auto;
                }

                &:nth-child(2),
                &:nth-last-child(2) {
                    margin-right: 25%;
                }
            }

            .shape-points-lst {
                align-items: flex-end;
            }
        }
    }


    &-point {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        border: 3px solid $color-FF9900;
        background: white;

        @media (max-width: 1024px) {
            opacity: 0;
        }

        &-des {
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: rgb(232, 131, 7);
            position: absolute;
            top: 50%;

            @media (max-width: 1024px) {
                opacity: 0;
                pointer-events: none;
            }
        }
    }

    &-row {
        @media (max-width: 1024px) {
            @include flexx();
            width: 100vw;
            position: relative;
            left: 50%;
            padding-top: 3rem;
            transform: translateX(-50%);
        }

        @media (max-width: 600px) {
            flex-direction: column;
        }
    }
}