.shape {
    width: 37rem;
    height: 37rem;
    position: relative;
    margin: 0 auto;

    @media (max-width: 1200px) {
        width: 28rem;
        height: 28rem;
    }

    @media (max-width: 1024px) {
        width: 25rem;
        height: 25rem;
    }

    @media (max-width: 960px) {
        width: 32rem;
        height: 32rem;
    }

    @media (max-width: 420px) {
        width: 27rem;
        height: 27rem;
    }

    @media (max-width: 350px) {
        width: 24rem;
        height: 24rem;
    }

    &-around {
        &-lst {
            @media (min-width: 960px) {
                position: absolute;
                width: 37rem;
                height: 37rem;
                top: 0;
                height: 100%;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }



    &-wrap {
        box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.16);
        border-radius: 50%;
        width: 100%;
        height: 100%;
        position: relative;

        &::before {
            position: absolute;
            content: "";
            top: 50%;
            left: 50%;
            width: 120%;
            height: 120%;
            transform: translate(-50%, -50%) scale(0.85);
            display: block;
            float: left;
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            -khtml-border-radius: 50%;
            border: 3px solid $color-FF9900;
            border-top: 3px solid transparent;
            border-bottom: 3px solid transparent;
            transition: all 1.5s;
            // z-index: -1;
            display: none;
            opacity: 0;

            @media (min-width: 960px) {
                animation: shape-border 0.7s 1100ms forwards;
                display: block;
            }

            @media (max-width: 1200px) {
                width: 110%;
                height: 110%;
            }
        }

    }

    &-slide {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        z-index: 50;

        .swiper {
            &-slide {
                @include flexx;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }

        }
    }

    &-pagination {
        top: 50%;
        margin-top: 1.6rem;
        bottom: auto !important;
    }

    &-col {

        @media (min-width: 960px) {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        @media (max-width: 960px) {
            padding: 0 6rem;
        }

        @media (max-width: 800px) {
            padding: 0 3rem;
        }

        @media (max-width: 600px) {
            padding: 0 1.5rem;
        }

        &.right {
            width: 100%;
            left: 125%;

            @media (max-width: 1200px) {
                left: 100%;
            }

            @media (max-width: 1024px) {
                left: 96%;
            }

            .shape-icon {
                margin-right: auto;
                transform: translateX(-50%);

                @media (min-width: 960px) {
                    transform: translateX(-50%) scale(0);
                    opacity: 0;
                }

            }

            .name {
                justify-content: flex-start;
            }

            .shape-item-sm {
                @media (min-width: 960px) {
                    &:nth-child(3n + 2) {
                        transform: translateX(3.2rem)
                    }

                    &:nth-child(3),
                    &:nth-child(4) {
                        transform: translateX(6rem)
                    }
                }
            }

            .shape-info-content {
                text-align: left;
            }

            .shape-point-des {
                left: -4rem;

                @media (max-width: 1200px) {
                    left: -3rem;
                }
            }

            .shape-info {
                // padding-left: 1rem;

                @media (max-width: 600px) {
                    padding-left: 0;
                }

                &-wrap {
                    @media (min-width: 960px) {
                        transform: translateX(150%);
                        z-index: -1;
                        opacity: 0;
                    }
                }
            }
        }

        &.left {
            right: 125%;
            width: 100%;
            height: auto;

            @media (max-width: 1200px) {
                right: 100%;
            }

            @media (max-width: 1024px) {
                right: 96%;
            }

            @media (max-width: 600px) {
                margin-bottom: 1.5rem;
            }

            .shape-icon {
                margin-left: auto;
                transform: translateX(50%);

                @media (min-width: 960px) {
                    opacity: 0;
                }

                @media (max-width: 600px) {
                    margin-left: 0;
                    margin-right: auto;
                    transform: translateX(-50%);
                    // margin-bottom: 3rem;
                }
            }

            .name {
                justify-content: flex-end;

                @media (max-width: 600px) {
                    justify-content: flex-start;
                }
            }

            .shape-item-sm {
                @media (min-width: 960px) {
                    &:nth-child(3n + 2) {
                        transform: translateX(-3.2rem)
                    }

                    &:nth-child(3),
                    &:nth-child(4) {
                        transform: translateX(-6rem)
                    }
                }
            }

            .shape-info-wrap {
                margin-left: auto;
            }

            .shape-point-des {
                right: -4rem;

                @media (max-width: 1200px) {
                    right: -3rem;
                }
            }

            .info {
                margin-left: auto;

                @media (max-width: 600px) {
                    margin-left: 0;
                }
            }

            .shape-info {
                padding-right: 0;

                @media (max-width: 600px) {
                    padding-right: 0;
                    text-align: left;
                }

                &-wrap {
                    @media (min-width: 960px) {
                        transform: translateX(-150%);
                        z-index: -1;
                        opacity: 0;
                    }
                }
            }
        }

        .name {
            height: 5rem;
            display: flex;
            align-items: center;

            @media (max-width: 1200px) {
                height: 4rem;
            }
        }

        .info {
            color: $color-black-opa7;
            margin-bottom: 0.8rem;
            min-width: 24.2rem;
            cursor: context-menu;

            @media (max-width: 1350px) {
                min-width: auto;
                max-width: 22rem
            }

            @media (max-width: 800px) {
                max-width: none;
            }
        }
    }

    &-item {
        &-sm {
            position: relative;
            cursor: pointer;
            transition: all 0.3s;

            &:not(:last-child) {
                margin-bottom: 3rem;

                @media (max-width: 1200px) {
                    margin-bottom: 2rem;
                }

                @media (max-width: 1024px) {
                    margin-bottom: 1.5rem;
                }
            }

            @media (min-width: 1024px) {
                // &:hover {
                //     // transform: translateY(1.2rem);

                //     .shape-info-wrap {
                //         &::before {
                //             top: -2rem;
                //             height: calc(100% + 2rem);
                //             box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.16);
                //         }
                //     }
                // }
            }

            @media (max-width: 600px) {
                width: 95%;
                margin-left: auto;
            }

            &.show {
                .shape-info-wrap {
                    &::before {
                        top: -2rem;
                        height: calc(100% + 2rem);
                        box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.16);

                        @media (max-width: 1200px) {
                            top: -1rem;
                            height: calc(100% + 1rem);
                        }
                    }
                }
            }

        }
    }

    &-icon {
        width: 5rem;
        height: 5rem;
        // background: black;
        @include mid-flex();
        border-radius: 50%;

        @media (max-width: 1200px) {
            width: 4rem;
            height: 4rem;
        }

        @media (max-width: 960px) {
            animation: none !important;
        }
    }

    &-info {
        transition: all 0.5s;
        position: absolute;
        top: 0px;
        width: 100%;

        &-wrap {
            position: relative;
            width: 100%;
            padding: 0 5.5rem;
            z-index: -1;

            @media (max-width: 960px) {
                animation: none !important;
            }

            @media (max-width: 1300px) {
                padding-left: 3.5rem;
                padding-right: 3.5rem;
            }

            @media (max-width: 1200px) {
                padding-left: 2.8rem;
                padding-right: 2.8rem;
            }

            @media (max-width: 800px) {
                width: 100%;
            }

            @media (max-width: 600px) {
                padding: 0 3.5rem;
            }

            &::before {
                position: absolute;
                content: "";
                width: 100%;
                height: calc(100% - 0.6rem);
                background: white;
                z-index: -1;
                top: 0.3rem;
                right: 0;
                transition: all 0.5s;
                border-radius: 5px;
            }
        }

        &-content {
            display: none;
            padding-bottom: 3rem;
        }
    }

    &-link {
        color: $color-FF9900;
    }

    &-points {
        display: none;

        @media (min-width: 960px) {
            position: absolute;
            height: 87%;
            width: 19%;
            top: 50%;
            transform: translateY(-50%);
            display: block;
        }

        @media (max-width: 1200px) {
            height: 82%;
        }


        &-lst {
            @include flexx();
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }

        .line-a {
            position: absolute;
            width: 40px;
            height: 46px;
            border-radius: 0 2px 0 0;
            z-index: -1;
            max-height: 0;
            max-width: 0;

            @media (max-width: 1200px) {
                width: 31px;
                height: 42px;
            }

            &-2 {
                width: 44px;
                height: 29px;

                @media (max-width: 1200px) {
                    width: 32px;
                    height: 26px;
                }
            }

            &.left {
                &-top {
                    right: 2.2rem;
                    bottom: 0;
                    transform: skew(45deg);
                    box-shadow: 2px -1.5px 0px 0px #225CA6;

                    @media (max-width: 1200px) {
                        right: 1rem;
                        transform: skew(20deg);
                    }

                    &-1 {
                        right: 1.4rem;
                        box-shadow: 2px -1.5px 0px 0px #54B549;

                        @media (max-width:1200px) {
                            right: 1.2rem;
                            transform: skew(40deg);
                        }
                    }

                    &-2 {
                        width: 2px;
                        transform: rotate(96deg) translateX(29px);
                        right: 4rem;
                        height: 76px;
                        box-shadow: 2px -1.5px 0px 0px #B91F43;

                        @media (max-width:1200px) {
                            transform: rotate(97deg) translateX(23px);
                            right: 3.2rem;
                            height: 63px;
                        }
                    }
                }

                &-bottom {
                    right: 24px;
                    top: 0;
                    transform: scaleY(-1) skew(45deg);
                    box-shadow: 2px -1.5px 0px 0px #C8972E;

                    @media (max-width: 1200px) {
                        right: 10px;
                        transform: scaleY(-1) skew(20deg);
                    }

                    &-1 {
                        right: 14px;
                        transform: scaleY(-1) skew(45deg);
                        box-shadow: 2px -1.5px 0px 0px #FECB0D;

                        @media (max-width: 1200px) {
                            right: 12px;
                            transform: scaleY(-1) skew(40deg);
                        }
                    }

                    &-2 {
                        width: 2px;
                        transform: rotate(-96deg) translateX(29px);
                        right: 3.7rem;
                        height: 76px;
                        box-shadow: 2px -1.5px 0px 0px #4EC9F5;

                        @media (max-width: 1200px) {
                            transform: rotate(-97deg) translateX(23px);
                            right: 3.2rem;
                            height: 63px;
                        }
                    }
                }
            }

            &.right {
                &-top {
                    left: 2.2rem;
                    bottom: 0;
                    transform: scaleX(-1) skew(45deg);
                    box-shadow: 2px -1.5px 0px 0px #E3C998;

                    @media (max-width: 1200px) {
                        transform: scaleX(-1) skew(20deg);
                        left: 10px;
                        bottom: 0;
                    }

                    &-1 {
                        transform: scaleX(-1) skew(45deg);
                        left: 14px;
                        box-shadow: 2px -1.5px 0px 0px #EB4095;

                        @media (max-width: 1200px) {
                            transform: scaleX(-1) skew(40deg);
                            left: 12px;
                        }
                    }

                    &-2 {
                        width: 2px;
                        transform: rotate(84deg) translateX(28px);
                        left: 4rem;
                        height: 76px;
                        box-shadow: 2px -1.5px 0px 0px #EE4039;

                        @media (max-width: 1200px) {
                            transform: rotate(83deg) translateX(23px);
                            left: 3.2rem;
                            height: 63px;
                        }
                    }
                }

                &-bottom {
                    left: 2.2rem;
                    top: 0;
                    transform: scale(-1, -1) skew(45deg);
                    box-shadow: 2px -1.5px 0px 0px #B89BC9;

                    @media (max-width: 1200px) {
                        left: 10px;
                        top: 0;
                        transform: scale(-1, -1) skew(20deg);
                    }

                    &-1 {
                        transform: scale(-1, -1) skew(45deg);
                        left: 1.4rem;
                        box-shadow: 2px -1.5px 0px 0px #D9D9D7;

                        @media (max-width: 1200px) {
                            transform: scale(-1, -1) skew(40deg);
                            left: 1.2rem;
                        }
                    }

                    &-2 {
                        width: 2px;
                        transform: rotate(-84deg) translateX(29px);
                        left: 4rem;
                        height: 76px;
                        box-shadow: 2px -1.5px 0px 0px #F8AB9B;

                        @media (max-width: 1200px) {
                            transform: rotate(-83deg) translateX(23px);
                            left: 3.2rem;
                            height: 63px;
                        }
                    }

                }
            }


        }

        &.left {
            left: -11%;

            @media (max-width: 1200px) {
                left: -7%;
            }

            .shape-point {

                &:first-child,
                &:last-child {
                    margin-left: auto;
                }

                &:nth-child(2),
                &:nth-last-child(2) {
                    margin-left: 25%;
                }

            }
        }

        &.right {
            right: -11%;

            @media (max-width: 1200px) {
                right: -7%;
            }

            .shape-point {

                &:first-child,
                &:last-child {
                    margin-right: auto;
                }

                &:nth-child(2),
                &:nth-last-child(2) {
                    margin-right: 25%;
                }
            }

            .shape-points-lst {
                align-items: flex-end;
            }
        }
    }


    &-point {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        border: 2px solid $color-FF9900;
        background: white !important;
        position: relative;
        z-index: 1;
        @include flex(center, center);
        transition: 0.5s;

        @media (min-width: 960px) {
            transform: scale(0);
        }

        &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 2px solid $color-FF9900;
            background: white !important;
            opacity: 0;
        }

        &-des {
            @media (min-width: 960px) {
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background: $color-16A675;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);

            }

            // @media (max-width: 1024px) {
            //     opacity: 0;
            //     pointer-events: none;
            // }
        }

        &.show {
            transform: scale(1);

            &::before {
                opacity: 1;
            }

            .line-a {
                max-height: 100px;
                max-width: 100px;
            }
        }
    }

    &-row {
        height: 100%;

        @media (max-width: 960px) {
            @include flexx();
            margin: 0 -6rem;
            padding-top: 6rem;
        }

        @media (max-width: 800px) {
            margin: 0 -3rem;
            padding-top: 3rem;
        }

        @media (max-width: 600px) {
            flex-wrap: wrap;
            margin: 0 -1.5rem;
        }

        // @media (max-width: 600px) {
        //     flex-direction: column;
        // }
    }
}