.sec-cate {
    padding-top: 12rem;
    padding-bottom: 27.8rem;
    background: $color-F8F8F8;
    
    @media (min-width: 960px) {
        overflow-x: hidden;
    }


    @media (max-width: 1200px) {
        padding-bottom: 15rem;
        padding-top: 10rem;
    }

    @media (max-width: 600px) {
        padding-bottom: 3rem;
        padding-top: 3rem;
    }

    .cate {
        &-wrap {
            width: 100%;
            justify-content: center;
            position: relative;
            // overflow: hidden;
        }
    }

}
