.sec-cate {
    padding-top: 12rem;
    padding-bottom: 27.8rem;
    background: $color-F8F8F8;

    @media (max-width: 1024px) {
        padding-bottom: 60rem;
        padding-top: 7rem;
    }

    @media (max-width: 600px) {
        padding-bottom: 105rem;
        padding-top: 5rem;
    }

    .cate {
        &-wrap {
            width: 100%;
            justify-content: center;
            // overflow: hidden;
        }
    }

}
