.sec-cate {
    padding-top: 12rem;
    padding-bottom: 27.8rem;
    background: $color-F8F8F8;
    overflow-x: hidden;
    @media (max-width: 1024px) {
        padding-bottom: 60rem;
        // overflow: hidden;
        padding-top: 7rem;
    }

    @media (max-width: 600px) {
        padding-bottom: 105rem;
        padding-top: 5rem;
    }
    .cate {
        &-wrap {
            width: 100%;
            justify-content: center;
            // overflow: hidden;
        }
    }

    .container {
        // overflow: hidden;
    }
}