.equipment {
    &-wrap {
        padding: 60px 0;
    }
    &-box {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
        margin-bottom: 20px;
        @include max(800px) {
            flex-wrap: wrap-reverse;
        }
    }
    &-left {
        margin: 0 15px;
        width: calc(50% - 30px);
        @include max(800px) {
            width: 100%;
            margin-bottom: 20px;
        }
    }

    &-right {
        margin: 0 15px;
        width: calc(50% - 30px);
        .img {
            img {
                @include img100x;
            }
        }
        @include max(800px) {
            width: 100%;
            margin-bottom: 20px;
            .img {
                @include flex(center, center);
                img {
                    height: 300px;
                    width: auto;
                }
            }
        }
    }

    &-title {
        @include fz-32;
        font-weight: 700;
        position: relative;
        width: fit-content;

        &::after {
            content: '2';
            position: absolute;
            right: -10px;
            top: 7px;
            @include fz-14;
            @include max(1200px) {
                top: 5px;
            }
            @include max(800px) {
                top: 3px;
            }
        }
    }

    &-sub {
        @include fz-20;
        font-weight: 700;
    }

    &-desc {
        @include fz-16;
        font-weight: 400;
    }

    &-highlight {
        padding: 24px;
        background-color: $color-gray;
        border-radius: 50px 0 50px 0;
        margin-top: 16px;
        ul {
            li {
                padding-left: 20px;
                position: relative;
                @include fz-16;
                line-height: 2;
                @include flex(flex-start, flex-start);

                &::after {
                    content: '';
                    @include cir(4px);
                    background-color: $color-black;
                    position: absolute;
                    left: 0;
                    top: 13px;
                }
            }
        }
    }
    &-product {
        overflow: hidden;
        border-radius: 5px;
        
        .img{
            height: 40%;
            min-height: 300px;
            background-color: $color-white;
            border-radius: 5px 5px 0 0;
            border: 1px solid $color-black-opa3;
            padding: 25px;
            @include flex(center,center);
            position: relative;
            img {
                @include imgContain;
            }
            
        }
        .line {
            height: 8px;
            width: 100%;
            @include flex(center, flex-start);
            &-1 {
                width: 25%;
                background-color: $color-line1;
                height: 100%;
            }
            &-2 {
                width: 25%;
                background-color: $color-line2;
                height: 100%;
            }
            &-3 {
                width: 25%;
                background-color: $color-line3;
                height: 100%;
            }
            &-4 {
                width: 25%;
                background-color: $color-line4;
                height: 100%;
            }
        }
        .info {
            background-color: $color-green;
            padding: 24px;
            .title {
                @include fz-32;
                font-weight: 700;
                color: $color-white;
                display: flex;
                h4 {
                    &:nth-child(2) {
                        margin-left: 20px;
                    }
                }
            }
            .sub-title {
                @include fz-20;
                font-weight: 700;
                color:$color-white;
            }
            p {
                color: $color-white;
                @include fz-16;
                font-weight: 400;
                @include limit(3);
            }
            ul {
                li {
                    padding-left: 20px;
                    position: relative;
                    @include fz-16;
                    line-height: 2;
                    @include flex(flex-start, flex-start);
                    color: $color-white;
                    &::after {
                        content: '';
                        @include cir(4px);
                        background-color: $color-white;
                        position: absolute;
                        left: 0;
                        top: 13px;
                    }
                }
            }
        }
        .btn {
            margin-top: 30px;
        }
    }
    &-detail {
        background-color: $color-gray;
        padding: 60px 0;
        &-title {
            @include fz-32;
            font-weight: 700;
        }
    }
    &-pro {
        &-list {
            @include flex(flex-start, flex-start);
            margin: 0 -15px;
            flex-wrap: wrap;
            .equipment-product {
                width: calc(50% - 30px);
                margin: 15px;
                @include max(700px) {
                    width: 100%;
                }
            }
        }
    }
    &-content {
        &-wrap {
            padding: 60px 0;
            .imgs {
                width: 100%;
                img {
                    @include img100x;
                }
            }
        }
    }
}