.home {
    &-banner {
        height: calc(100vw * (650/1728));

        .homeSwiper {
            width: 100%;
            height: 100%;
            .home-btn {
                @include cir(30px);
                background-color: $color-green;
                &::after {
                    font-size: 12px;
                    color: $color-white;
                }
            }
        }
    
        .swiper-slide {
            height: 100%;
            position: relative;
            width: 100%;
            height: 100%;
            
    
            img {
                @include imgCover;
            }
    
        }
    }
    &-wrap {
        position: relative;
        height: 100%;
        @include flex-col(flex-start, center);
        ul {
            li {
                position: relative;
                padding-left: 20px;
                @include fz-16;
                line-height: 2;
                &::after {
                    position: absolute;
                    content: url("../assets/img/svg/tick.png");
                    left: 0;
                    top: 1px;
                }
            }
        }
        .btn {
            margin-top: 20px;

        }
    }
    &-title {
        @include fz-50;
        font-weight: 700;
    }
    &-para {
        @include fz-16;
        margin: 20px 0;
    }
    &-btns {
        position: relative;
        .hands {
            position: absolute;
            right: -10px;
            bottom: -40%;
            z-index: 4;
            transition: 0.3s ease-in-out;
            animation: click 1s linear infinite;
            img {
                @include img100x;
                position: static;
                height: 30px;
            }
        }
        .cir {
            position: absolute;
            right: 4px;
            bottom: -5px;
            z-index: 4;
            transition: 0.3s ease-in-out;
            animation: opa2 1s linear infinite;
            img {
                @include img100x;
                position: static;
                height: 12px;
            }
        }
    }
}