.home {
    &-banner {
        height: calc(100vw * (650/1728));

        @include max(1200px) {
            height: calc(100vw * (800/1728));
        }

        @include max(1200px) {
            height: calc(100vw * (1000/1728));

        }

        @include max(720px) {
            height: calc(100vw * (1500/1728));

        }

        @include max(530px) {
            height: calc(100vw * (1800/1728));

        }

        @include max(390px) {
            height: calc(100vw * (2300/1728));

        }

        .homeSwiper {
            width: 100%;
            height: 100%;

            .home-btn {
                @include cir(30px);
                background-color: $color-green;

                &::after {
                    font-size: 12px;
                    color: $color-white;
                }
            }
        }

        .swiper-slide {
            height: 100%;
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;

            &-active {
                .home-title {
                    transform: translateX(0) !important;
                }

                .home-para {
                    transform: translateX(0) !important;
                }

                .banner-item-intro {
                    transform: translateX(0) !important;
                }

                .btn {
                    transform: scale(1) !important;
                }
            }


            img {
                @include imgCover;
            }

        }
    }

    &-overlay {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(to right, $color-white-opa6, $color-white-opa2);
        z-index: 2;
    }

    &-wrap {
        position: relative;
        height: 100%;
        @include flex-col(flex-start, center);
        z-index: 2;
        overflow: hidden;

        .banner-lst-intro {
            .banner-item-intro {
                position: relative;
                padding-left: 20px;
                @include fz-16;
                line-height: 2;
                transform: translateX(-110%);
                transition: all 0.8s;

                &::after {
                    position: absolute;
                    content: url("../assets/img/svg/tick.png");
                    left: 0;
                    top: 1px;
                }
            }
        }

        .btn {
            margin-top: 20px;
            transform: scale(0);
            transition: all 0.8s 1600ms;
        }
    }

    &-title {
        @include fz-50;
        font-weight: 700;
        transform: translateX(-110%);
        transition: all 0.8s 0.8s;


        @include max(600px) {
            @include fz-30;
        }

        @include max(400px) {
            @include fz-20;
        }
    }

    &-para {
        @include fz-16;
        margin: 20px 0;
        transform: translateX(-110%);
        transition: all 0.8s 0.8s;
        max-width: 56.8rem;

        @include max(500px) {
            margin: 10px 0;
        }
    }

    &-btns {
        position: relative;
        display: inline-block;

        .hands {
            position: absolute;
            right: -10px;
            bottom: -40%;
            z-index: 4;
            transition: 0.3s ease-in-out;
            animation: click 1s linear infinite;

            img {
                @include img100x;
                position: static;
                height: 30px;
            }
        }

        .cir {
            position: absolute;
            right: 4px;
            bottom: -5px;
            z-index: 4;
            transition: 0.3s ease-in-out;
            animation: opa2 1s linear infinite;

            img {
                @include img100x;
                position: static;
                height: 12px;
            }
        }
    }

    &-two {
        height: calc(100vw * (500/1728));
        position: relative;

        @include max(1000px) {
            height: calc(100vw * (800/1728));
        }

        @include max(580px) {
            height: calc(100vw * (1200/1728));
        }

        @include max(450px) {
            height: calc(100vw * (2100/1728));
        }

        @include max(350px) {
            height: calc(100vw * (2300/1728));
        }

        &-imgs {
            position: absolute;
            bottom: 0px;
            height: 110%;
            z-index: 2;
            @include min(2200px) {
                height:100%;
            }
            @include max(700px) {
                display: none;
            }

            img {
                @include img100x;
            }
        }

        &::before {
            content: '';
            width: 100%;
            height: 100%;
            background-color: $color-white-opa2;
            backdrop-filter: blur(150px);
            position: absolute;
            z-index: -1;

            @include max(700px) {
                backdrop-filter: blur(80px);
            }
        }

        &::after {
            content: '';
            @include cir(350px);
            background-color: $color-green;
            position: absolute;
            z-index: -2;
            top: 50%;
            transform: translateY(-50%);
            left: 20%;

            @include max(700px) {
                @include cir(150px);
            }
        }

        &-wrap {
            height: 100%;
        }

        &-info {
            width: 55%;
            margin-left: auto;
            height: 100%;
            overflow: hidden;

            @include max(700px) {
                margin: 0;
                width: 100%;

            }

            @include flex-col(flex-start, center);

            h2 {
                @include fz-32;
                font-weight: 700;
            }

            h4 {
                @include fz-20;
                font-weight: 700;
            }

            p {
                @include fz-16;
                font-weight: 400;
                margin: 15px 0;
            }
        }

        &-btns {
            @include flex(center, flex-start);

            @include max(350px) {
                flex-wrap: wrap;
            }

            .btn {
                margin-right: 20px;

                @include max(350px) {
                    margin-bottom: 20px;
                }
            }
        }

        &-phone {
            @include flex(center, flex-start);

            .imgs {
                @include cir(30px);
                @include flex(center, center);
                margin-right: 16px;
                background-color: $color-FF9900;

                img {
                    @include cir(15px);
                }
            }

            span {
                color: $color-green;
            }
        }
    }

    &-three {
        height: calc(100vw * (550/1728));
        position: relative;
        overflow: hidden;

        @include max(1000px) {
            height: calc(100vw * (800/1728));
        }

        @include max(580px) {
            height: calc(100vw * (1200/1728));
        }

        @include max(450px) {
            height: calc(100vw * (2100/1728));
        }

        @include max(350px) {
            height: calc(100vw * (2300/1728));
        }

        img {
            @include imgCover;
        }

        &-wrap {
            position: relative;
            width: 100%;
            height: 100%;
            @include flex-col(center, center);

            span {
                @include fz-20;
                font-weight: 700;
                text-align: center;
                text-transform: uppercase;
                text-align: center;
            }

            p {
                @include fz-32;
                text-align: center;
                font-weight: 700;
                margin: 16px 0;
            }
        }
    }

    &-four {
        width: 100%;
        position: relative;
        overflow: hidden;
        padding: 60px 0;

        &::after {
            content: '';
            width: 70%;
            height: 100%;
            right: 0;
            top: 0;
            background-color: $color-green-light;
            position: absolute;

            @include max(1200px) {
                width: 100%;
            }
        }

        &-wrap {
            width: calc(100vw - ((100vw - 1200px)/2));
            height: 100%;
            margin-right: auto;

            @include max(1200px) {
                width: 100%;
            }
        }

        &-box {
            width: 100%;
            height: 100%;
            @include flex(center, flex-start);

            &-left {
                height: 100%;
                width: 30%;
                overflow: hidden;
                margin-left: 20%;

                @include max(1300px) {
                    margin-left: 10%;
                }

                @include max(1200px) {
                    display: none;
                }

                .imgs {
                    position: relative;
                    overflow: hidden;
                    border-radius: 5px;
                    z-index: 2;


                    img {
                        @include img100x;
                    }
                }

            }

            &-right {
                height: 100%;
                width: 70%;
                position: relative;
                z-index: 2;
                padding-left: 50px;
                @include flex(center, flex-start);
                flex-wrap: wrap;

                @include max(1200px) {
                    width: 100%;
                    padding-left: 0;
                }

            }
        }

        &-item {
            position: relative;
            background-color: $color-white;
            border-radius: 5px;
            padding: 20px;
            padding-left: 11%;
            width: calc(50% - 30px);
            margin: 25px 15px;
            box-shadow: $shadowall;

            @include max(600px) {
                width: 100%;
                padding-top: 40px;
            }

            .icon {
                position: absolute;
                border-radius: 5px;
                transform: rotate(45deg);
                @include sqr(50px);
                @include flex(center, center);
                background-color: $color-green;
                left: 26px;
                top: -25px;

                img {
                    transform: rotate(-45deg);
                }
            }

            h4 {
                @include fz-20;
                font-weight: 700;
            }

            p {
                @include fz-16;
            }

            a {
                @include fz-16;
                font-weight: 700;
                color: $color-FF9900;
            }
        }
    }

    &-five {
        background: $color-F8F8F8;
        overflow: hidden;
    }

    &-seven {
        padding: 6rem 0 0;
        overflow: hidden;

        @media (max-width: 1200px) {
            padding: 6rem 0;
        }

        @media (max-width: 800px) {
            padding: 4.5rem 0;
        }

        @media (max-width: 600px) {
            padding: 3rem 0;
        }
    }

    &-eight {
        padding: 3.1rem 0;
        // overflow-x: hidden;
        // background: 
        position: relative;

        &::before {
            content: "";
            width: calc((100vw + 120rem)/2);
            height: 100%;
            right: 0;
            top: 0;
            background-color: #EBF5F0;
            position: absolute;
            z-index: -1;
        }

        @media (max-width: 800px) {
            padding: 0;
        }

        .content {
            &-video {
                width: calc(50% - 6rem);

                @media (max-width: 1200px) {
                    width: 50%;
                }

                @media (max-width: 800px) {
                    width: 100%;
                    // padding-top: 50%;
                }

                .video {
                    position: relative;
                    margin-top: -15.2rem;
                    padding-bottom: 56.25%;
                    z-index: 99;
                    filter: drop-shadow(20px 20px 60px rgba(0, 0, 0, 0.16));
                    border-radius: 0px 5px 5px 0px;
                    overflow: hidden;

                    @media (max-width: 1500px) {
                        margin-top: -7.2rem;
                    }

                    @media (max-width: 1200px) {
                        margin-top: 0;
                    }
                }

                iframe {
                    width: 100%;
                    height: 100%;
                    @include abs-fw;
                }
            }

            &-text {
                width: calc(50% + 6rem);
                padding: 11.2rem 0;
                padding-left: 3rem;
                padding-right: 3rem;
                max-width: 79rem;
                align-content: center;

                @media (max-width: 1200px) {
                    padding: 6rem 0;
                    padding-left: 1.5rem;
                    padding-right: 1.5rem;
                    width: 50%;
                }

                @media (max-width: 800px) {
                    padding: 4.5rem 0;
                    padding-left: 1.5rem;
                    padding-right: 1.5rem;
                    width: 100%;
                }

                .tit {
                    max-width: 38.3rem;
                    margin-bottom: 1.5rem;
                }
            }
        }
    }

    &-ten {
        overflow: hidden;

        .news {
            &-wrap {
                padding: 0;
                flex-wrap: wrap;
                margin: 0 -1.5rem;

                @media (max-width: 1024px) {
                    margin: 0 -0.75rem;
                }

                .img {
                    border-radius: 5px;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                a {
                    transition: all 0.3s;
                    @media (min-width: 992px) {
                        &:hover {
                            color: $color-green;
                        }
                    }
                }
            }

            &-i {
                width: 50%;
                padding: 0 1.5rem;
                margin: 0;

                @media (max-width: 1024px) {
                    padding: 0 0.75rem;
                }

                @media (max-width: 800px) {
                    width: 100%;
                }
            }

            &-main {
                .img {
                    position: relative;
                    padding-top: 70%;

                    img {
                        @include abs-fw;
                    }
                }

                @media (max-width: 800px) {
                    margin-bottom: 1.5rem;
                }
            }

            &-lst {
                .img {
                    position: relative;
                    width: 17rem;
                    flex-shrink: 0;
                    margin-right: 1.5rem;
                    height: 100%;
                    padding-top: 19.84%;

                    @media (max-width: 800px) {
                        padding-top: 14%;
                        width: 14rem;
                    }


                    img {
                        @include abs-fw;
                    }
                }

                &-item {
                    margin-bottom: 3rem;
                    align-items: center;

                    @media (max-width: 1024px) {
                        margin-bottom: 1.5rem;
                    }

                    .date {
                        padding-top: 0;
                    }

                    .icon {
                        margin-bottom: -6px;
                    }
                }
            }

            &-date {
                padding: 1.4rem 0.8rem;
                right: 0;
                bottom: 0;
                color: white;
                background: $color-FF9900;
                border-radius: 5px;
                font-weight: 700;
                font-size: 1.4rem;
                line-height: 1.57;
            }

        }
    }
}

.sec-care {
    background: $color-16A675;
    overflow: hidden;
}

.care {
    &-content {
        width: calc(100% * 6 / 12 - 3rem);
        padding: 8rem 0;
        color: white;

        @media (max-width: 800px) {
            width: 100%;
        }
    }

    &-image {
        width: calc(100% * 6 / 12 + 3rem);

        @media (max-width: 800px) {
            width: calc(100% + 3rem);
            margin: 0 -1.5rem;
        }

        .img {
            padding-top: 65%;
            position: relative;
            height: 100%;

            &::before {
                position: absolute;
                content: "";
                top: 0;
                left: -1%;
                width: 6%;
                height: 100%;
                z-index: 1;
                background: $color-16A675;

                @media (max-width: 1024px) {
                    display: none;
                }
            }

            &::after {
                position: absolute;
                content: "";
                top: 0;
                right: -4%;
                width: 8%;
                height: 100%;
                z-index: 1;
                background: $color-16A675;

                @media (max-width: 1024px) {
                    display: none;
                }
            }

            img {
                @include abs-fw;
                object-fit: cover;
            }
        }
    }

    &-tit {
        max-width: 28.2rem;
        margin-bottom: 1.5rem;

        @media (max-width: 800px) {
            max-width: none;
        }
    }

    &-txt {
        margin-bottom: 3.6rem;
        max-width: 46.1rem;

        @media (max-width: 800px) {
            max-width: none;
        }
    }
}