.recruit1 {
    &-wrap  {
        padding: 60px 0;
    }
    .title {
        margin-bottom: 20px;
    }
    ul {
        margin-bottom: 20px;
        
        .sub-title {
            margin-bottom: 10px;
        }
        li {
            padding-left: 20px;
            position: relative;
            @include fz-16;
            line-height: 2;
            @include flex(flex-start, flex-start);
            &::after {
                content: '';
                @include cir(4px);
                background-color: $color-black;
                position: absolute;
                left: 0;
                top: 13px;
            }
        }
    }
    &-relative {
        padding: 60px 0;
        background-color: $color-green-light;
    }
}