.banner {
    width: 100%;
    position: relative;
    height: calc(100vw * (250/1728));
    overflow: hidden;

    @include max(600px) {
        height: calc(100vw * (250/1000));

    }
    @include max(400px) {
        height: calc(100vw * (400/1000));

    }

    @include flex-col(center, center);

    h1 {
        color: $color-white;
        position: relative;
        @include fz-32;
        font-weight: 700;
        text-transform: uppercase;
        z-index: 2;
    }
    img {
        @include imgCover;
        animation: zoomSlowIn 2s linear forwards;
    }
}