.breadcrumb {
    @include flexx();
    flex-wrap: wrap;
    margin-top: 3rem;
    align-items: stretch;
    z-index: 2;
    &.wh {
        margin-top: 10px;
    }
    @media (max-width: 800px) {
        margin-top: 0;
    }

    &-item {
        @include flexx();
        align-items: center;

        &:not(:first-child) {
            &::before {
                padding: 0 8px;
                width: 1rem;
                height: auto;
                content: url("../assets/img/svg/icon-breadcrumb.png");

                
            }
        }
        &.wh:not(:first-child) {
            &::before {
                padding: 0 8px;
                width: 1rem;
                height: auto;
                content: url("../assets/img/svg/icon-breadcrumb-wh.png");

                
            }
        }
    }

    &-link {
        // color: #fff;
        font-weight: bold;

        &.wh {
            color: #ffffff;
        }
    }
}