.pagination {
    margin: auto;
    @include flex(center, center);
    padding: 30px 0;
    &-arr {
        @include sqr(44px);
        @include flex(center, center);
        border-radius: 5px;

        &.active {
            opacity: 0.5;
        }
        &.rt-180 {
            transform: rotate(180deg)
        }
    }

    &-item {
        @include sqr(44px);
        border-radius: 5px;
        background-color: $color-white;
        transition: 0.3s;
        margin:0 3.5px;
        @include flex(center, center);
        color: $color-black;
        @include fz-14;
        font-weight: 400;

        &.active {
            background-color: $color-FF9900;
            box-shadow: $shadow31;
            color: $color-white;
        }

        &:hover {
            box-shadow: $shadow31;
            color: $color-white;
            background-color: $color-FF9900;
        }
    }
}

.navigation {
    display: none;

    &-swiper {
        position: absolute;
        top: 60%;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        @include mid-flex();
        background: $color-C4C4C4;
        z-index: 99;
        font-size: 3.2rem;
        cursor: pointer;
        @media (max-width: 1200px) {
            display: none;
        }
    }

    &-noBg {
        background: transparent;
    }

    &-next {
        right: -9rem;
        @media (max-width: 1400px) {
            right: -1rem;
        }
    }

    &-prev {
        left: -9rem;
        @media (max-width: 1400px) {
            left: -1rem;
        }
    }
}