.popup-detail,
.popup-cv {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: white;
  z-index: 1000;
  width: calc(100% - 3rem);
  max-width: 117rem;
  padding: 6.7rem 0 5.8rem;
  transition: all 0.4s ease-in-out;
  visibility: hidden;
  opacity: 0;
  border-radius: 5px;

  @media (max-width: 800px) {
    padding: 5rem 0 5rem;
  }

  @media (max-width: 600px) {
    padding: 3rem 0 3rem;
  }

  &.active {
    transform: translate(-50%, -50%) scale(1);
    visibility: visible;
    opacity: 1;
  }

  .product-gallery-pu {
    padding: 0;

    .img {
      box-shadow: none;
    }

    .swiper-slide {
      .gen-relative {
        padding-top: 94.5%;
        position: relative;
        width: 100%;

        @media (max-width: 600px) {
          padding-top: 60%;
        }
      }
    }
  }

  .slide-image {
    margin-top: 0;
    padding-left: 6.9rem;
    padding-right: 6.9rem;

    @media (max-width: 1024px) {
      padding-left: 5rem;
      padding-right: 5rem;
    }

    @media (max-width: 800px) {
      padding-left: 3rem;
      padding-right: 3rem;
    }

    @media (max-width: 600px) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  .product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% * 5 / 12 + 3rem);

    @media (max-width: 600px) {
      width: 100%;
    }
  }

  .product-wrap {
    overflow: hidden;
  }

  .slide-image {
    width: calc(100% * 7 / 12 - 3rem);

    @media (max-width: 600px) {
      width: 100%;
    }
  }

  .link-arrow {
    margin-top: 1.6rem;
  }

  .color-label {
    &::before {
      display: none;
    }
  }
}

.popup-cv {
  padding: 5rem 7rem 5.5rem;

  @media (max-width: 1024px) {
    padding: 5rem 5rem 5.5rem;
  }

  @media (max-width: 600px) {
    padding: 3rem 2rem 3rem;
  }
  @media (max-width: 420px) {
    padding: 2rem 1rem 2rem;
  }

  .upload {
    margin: 2.4rem 0;
    @media (max-width: 800px) {
      margin: 1rem 0;
    }
    .text {
      margin-right: 3rem;
    }

    .text-slt {
      color: $color-4EC9F5;
    }

    .name-file {
      font-weight: bold;
    }
  }
}


.close {
  width: 3rem;
  height: 3rem;
  top: 0;
  right: 0;
  border-radius: 50%;
  background: $color-F44336;
  color: white;
  @include mid-flex();
  cursor: pointer;
  font-size: 2.5rem;
  transform: translate(50%, -50%);

  @media (max-width: 1200px) {
    transform: translate(-20%, 20%);
  }
}