.tab {
  &-item {
    padding: 1rem 3rem;
    background: $color-FF9900;
    border-radius: 5px 5px 0px 0px;
    opacity: 0.4;
    transition: all 0.5s ease-out;
    cursor: pointer;

    @media (max-width: 600px) {
      padding: 0.8rem 1.5rem;
    }

    &:not(:last-child) {
      margin-right: 0.6rem;
    }

    &.active {
      opacity: 1;
      pointer-events: none;
    }
  }

  &-content {
    border: 1px solid $color-black-opa1;
    padding: 2.4rem;
    overflow: hidden;

    @media (max-width: 800px) {
      padding: 1.6rem;
    }

    @media (max-width: 420px) {
      padding: 1rem;
    }

    &-item {
      visibility: hidden;
      max-height: 0;
      transform: translateX(-100%);
      opacity: 0;
      transition: all 0.5s ease-out;

      &.active {
        visibility: visible;
        max-height: none;
        transform: translateX(0);
        opacity: 1;
      }
    }
  }

  &-txt {
    letter-spacing: 0.025em;
    &-bold {
      font-weight: bold;
    }
  }

  &-table {
    width: calc(100% * 8 / 12);

    @media (max-width: 1200px) {
      width: 75%;
    }

    @media (max-width: 800px) {
      width: 100%;
    }

    th,
    td {
      border: 1px solid $color-black-opa1;
    }

    td {
      padding: 1.4rem 3rem;

      @media (max-width: 800px) {
        padding: 1rem 1.5rem;
      }
    }

    tr {
      @media (max-width: 500px) {
        display: flex;
        flex-direction: column;
        width: max-content;
        width: 100%;
      }
    }

    .row-1 {
      width: 24rem;

      @media (max-width: 800px) {
        width: 19rem;
      }

      @media (max-width: 500px) {
        width: 100%;
      }
    }
  }

  &-lst {
    overflow-x: auto;

    .lst {
      width: max-content;
    }
  }
}
