.fz12 {
    font-size: 12px;
    line-height: 1.5;
}

.fz14 {
    font-size: 14px;
    line-height: 1.5;
}

.fz16 {
    font-size: 16px;
    line-height: 1.5;
}

.fz18 {
    font-size: 18px;
    line-height: 1.5;
}

.fz20 {
    font-size: 20px;
    line-height: 1.5;
}

.fz32 {
    font-size: 32px;
    line-height: 1.5;
}

//weight
.fw6 {
    font-weight: 600;
}

.fw5 {
    font-weight: 500;
}

.fw4 {
    font-weight: 400;
}

//italic
.itlic {
    font-style: italic;
}