@import url("../assets/font/Roboto/OTF/stylesheet.css");
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #000000;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  color: #000000;
}

button,
select,
input,
textarea {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #000000;
  border: none;
  outline: none;
  background: #fff;
}

.main {
  min-height: 68vh;
  &.pd {
    padding-top: 112px;
    padding-bottom: 80px;
  }
}

.container {
  // position: relative;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

label {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently*/
  cursor: pointer;
}

// img {
//   object-fit: cover;
//   width: 100%;
//   height: 100%;
// }

/**
 * Simple fade transition,
 */

.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}
