// -------------------- row, col -----------------
// .col-1,
// .col-2,
// .col-3,
// .col-4,
// .col-5,
// .col-6,
// .col-7,
// .col-8,
// .col-9,
// .col-10,
// .col-11,
// .col-12,
// .col,
// .col-auto,
// .col-sm-1,
// .col-sm-2,
// .col-sm-3,
// .col-sm-4,
// .col-sm-5,
// .col-sm-6,
// .col-sm-7,
// .col-sm-8,
// .col-sm-9,
// .col-sm-10,
// .col-sm-11,
// .col-sm-12,
// .col-sm,
// .col-sm-auto,
// .col-md-1,
// .col-md-2,
// .col-md-3,
// .col-md-4,
// .col-md-5,
// .col-md-6,
// .col-md-7,
// .col-md-8,
// .col-md-9,
// .col-md-10,
// .col-md-11,
// .col-md-12,
// .col-md,
// .col-md-auto,
// .col-lg-1,
// .col-lg-2,
// .col-lg-3,
// .col-lg-4,
// .col-lg-5,
// .col-lg-6,
// .col-lg-7,
// .col-lg-8,
// .col-lg-9,
// .col-lg-10,
// .col-lg-11,
// .col-lg-12,
// .col-lg,
// .col-lg-auto,
// .col-xl-1,
// .col-xl-2,
// .col-xl-3,
// .col-xl-4,
// .col-xl-5,
// .col-xl-6,
// .col-xl-7,
// .col-xl-8,
// .col-xl-9,
// .col-xl-10,
// .col-xl-11,
// .col-xl-12,
// .col-xl,
// .col-xl-auto {
//   position: relative;
//   width: 100%;
//   min-height: 1px;
//   padding-right: 15px;
//   padding-left: 15px;
// }
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.no-gap > .col,
.no-gap > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
.col-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

// ---------- flex ----------
.flex {
  @include flexx();
  &-center {
    @include flexx();
    justify-content: center;
    align-items: center;
    &-between {
      @include flexx();
      justify-content: space-between;
      align-items: center;
    }
  }
  &-1 {
    flex: 1;
  }
  &-wrap {
    flex-wrap: wrap;
  }

  &-shrink {
    flex-shrink: 0;
  }

  &-ai-start {
    align-items: flex-start;
  }

  &-ai-center {
    align-items: center;
  }

  &-ai-end {
    align-items: flex-end;
  }

  &-jc-start {
    justify-content: flex-start;
  }

  &-jc-center {
    justify-content: center;
  }

  &-jc-end {
    justify-content: flex-end;
  }

  &-jc-between {
    justify-content: space-between;
  }

  &-jc-around {
    justify-content: space-around;
  }

  &-jc-evenly {
    justify-content: space-evenly;
  }

  &-row-reverse {
    flex-direction: row-reverse;
  }

  &-column {
    flex-direction: column;
  }
  &-column-reverse {
    flex-direction: column-reverse;
  }

  // ----------responsive--------------
  &-lg {
    @include lg {
      @include flexx();
    }
  }
  &-md {
    @include md {
      @include flexx();
    }
  }
  &-sm {
    @include sm {
      @include flexx();
    }
  }
  &-xs {
    @include xs {
      @include flexx();
    }
  }
  &-xxs {
    @include xxs {
      @include flexx();
    }
  }
  &-lg-col {
    @include lg {
      flex-direction: column;
    }
  }
  &-md-col {
    @include md {
      flex-direction: column;
    }
  }
  &-sm-col {
    @include sm {
      flex-direction: column;
    }
  }
  &-xs-col {
    @include xs {
      flex-direction: column;
    }
  }
  &-lg-col-reverse {
    @include lg {
      flex-direction: column-reverse;
    }
  }
  &-md-col-reverse {
    @include md {
      flex-direction: column-reverse;
    }
  }
  &-sm-col-reverse {
    @include sm {
      flex-direction: column-reverse;
    }
  }
  &-xs-col-reverse {
    @include xs {
      flex-direction: column-reverse;
    }
  }
  &-xxs-col {
    @include xxs {
      flex-direction: column;
    }
  }
  &-xxs-col-reverse {
    @include xxs {
      flex-direction: column-reverse;
    }
  }

  &-ai-md-start {
    @include md {
      align-items: flex-start;
    }
  }

  &-ai-md-center {
    @include md {
      align-items: center;
    }
  }

  &-ai-md-end {
    @include md {
      align-items: flex-end;
    }
  }

  &-ai-sm-start {
    @include sm {
      align-items: flex-start;
    }
  }

  &-ai-sm-center {
    @include sm {
      align-items: center;
    }
  }

  &-ai-sm-end {
    @include sm {
      align-items: flex-end;
    }
  }

  &-ai-xs-start {
    @include xs {
      align-items: flex-start;
    }
  }

  &-ai-xs-center {
    @include xs {
      align-items: center;
    }
  }

  &-ai-xs-end {
    @include xs {
      align-items: flex-end;
    }
  }
  &-jc-md-start {
    @include md {
      justify-content: flex-start;
    }
  }
  &-jc-md-center {
    @include md {
      justify-content: center;
    }
  }
  &-jc-md-end {
    @include md {
      justify-content: flex-end;
    }
  }
  &-jc-md-between {
    @include md {
      justify-content: space-between;
    }
  }
  &-jc-md-around {
    @include md {
      justify-content: space-around;
    }
  }
  &-jc-md-evenly {
    @include md {
      justify-content: space-evenly;
    }
  }

  &-jc-sm-start {
    @include sm {
      justify-content: flex-start;
    }
  }
  &-jc-sm-center {
    @include sm {
      justify-content: center;
    }
  }
  &-jc-sm-end {
    @include sm {
      justify-content: flex-end;
    }
  }
  &-jc-sm-between {
    @include sm {
      justify-content: space-between;
    }
  }
  &-jc-sm-around {
    @include sm {
      justify-content: space-around;
    }
  }
  &-jc-sm-evenly {
    @include sm {
      justify-content: space-evenly;
    }
  }

  &-jc-xs-start {
    @include xs {
      justify-content: flex-start;
    }
  }
  &-jc-xs-center {
    @include xs {
      justify-content: center;
    }
  }
  &-jc-xs-end {
    @include xs {
      justify-content: flex-end;
    }
  }
  &-jc-xs-between {
    @include xs {
      justify-content: space-between;
    }
  }

  &-jc-xxs-start {
    @include xxs {
      justify-content: flex-start;
    }
  }
  &-jc-xxs-center {
    @include xxs {
      justify-content: center;
    }
  }
  &-jc-xxs-end {
    @include xxs {
      justify-content: flex-end;
    }
  }
  &-jc-xxs-between {
    @include xxs {
      justify-content: space-between;
    }
  }
  &-lg-row {
    @include lg {
      flex-direction: row;
    }
  }
  &-md-row {
    @include md {
      flex-direction: row;
    }
  }
  &-sm-row {
    @include sm {
      flex-direction: row;
    }
  }
  &-xs-row {
    @include xs {
      flex-direction: row;
    }
  }
}

// ---------- position ----------
.pos {
  &-relative {
    position: relative;
  }

  &-abs {
    position: absolute;
  }

  &-fixed {
    position: fixed;
  }

  &-sticky {
    position: sticky;
  }
}

// top, right, bottom, left
.inset-0 {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}


//---------- overflow ----------
.overflow {
  &-hidden {
    overflow: hidden;
  }

  &-auto {
    overflow: auto;
  }

  &-scroll {
    overflow: scroll;
  }
}


// width
.w {
  &-full {
    width: 100% !important;
  }

  &-50 {
    width: 50% !important;
  }

  &-screen {
    width: 100vw !important;
  }

  &-fit {
    width: fit-content !important;
  }

  &-max {
    width: max-content !important;
  }

  &-min {
    width: min-content !important;
  }

  @include md {
    &-md-full {
      width: 100% !important;
    }

    &-md-fit {
      width: fit-content !important;
    }
    &-md-50 {
      width: 50% !important;
    }
  }
  @include sm {
    &-sm-50 {
      width: 50% !important;
    }
    &-sm-full {
      width: 100% !important;
    }

    &-sm-fit {
      width: fit-content !important;
    }
  }
  @include xs {
    &-xs-full {
      width: 100% !important;
    }

    &-xs-fit {
      width: fit-content !important;
    }
  }
  @include xxs {
    &-xxs-full {
      width: 100% !important;
    }

    &-xxs-fit {
      width: fit-content !important;
    }
  }
}

// css height

.h {
  &-full {
    height: 100%;
  }

  &-screen {
    height: 100vh;
  }

  &-50 {
    height: 50%;
  }
  &-md-full {
    @include md {
      height: 100%;
    }
  }
  &-sm-full {
    @include sm {
      height: 100%;
    }
  }
  &-xs-full {
    @include xs {
      height: 100%;
    }
  }
}

// ---------- font ----------

// ---------- text align ----------

.text {
  &-right {
    text-align: right;
  }

  &-center {
    text-align: center;
  }

  &-left {
    text-align: left;
  }

  &-justify {
    text-align: justify;
  }
}

// ---------- text transform ----------
.upper {
  text-transform: uppercase;
}
.lower {
  text-transform: lowercase;
}
.capital {
  text-transform: capitalize;
}

// ---------- border radius ----------
.rounded {
  &-full {
    border-radius: 100rem;
  }

  &-inherit {
    border-radius: inherit;
  }

  &-xl {
    border-radius: 20px;
  }

  &-lg {
    border-radius: 12px;
  }

  &-md {
    border-radius: 8px;
  }

  &-sm {
    border-radius: 4px;
  }
}

// ---------- border ----------
.border {
  &-none {
    border: none;
  }

  &-current {
    border-color: currentColor;
  }
}

// ---------- outline ----------
.outline {
  &-none {
    outline: none;
  }

  &-current {
    outline-color: currentColor;
  }
}

// ---------- background ----------
.bg {
  &-cover {
    background-size: cover;
  }
  &-center {
    background-position: center;
  }
  &-no-repeat {
    background-repeat: no-repeat;
  }
  &-fixed {
    background-attachment: fixed;
  }
}

// ---------- pointer ----------
.pointer {
  cursor: pointer;
  &-none {
    pointer-events: none;
  }
}
// ---------- resize ----------
.resize-none {
  resize: none;
}
// --------- display ----------
.block {
  display: block;
}
.in-block {
  display: inline-block;
}
.in-flex {
  display: inline-flex;
}
// opacity
.opacity-1 {
  opacity: 0.1;
}
.opacity-2 {
  opacity: 0.2;
}
.opacity-3 {
  opacity: 0.3;
}
.opacity-4 {
  opacity: 0.4;
}
.opacity-5 {
  opacity: 0.5;
}
.opacity-6 {
  opacity: 0.6;
}
.opacity-7 {
  opacity: 0.7;
}
.opacity-8 {
  opacity: 0.8;
}
.opacity-9 {
  opacity: 0.9;
}

// hidden-on
.hidden {
  display: none;
  &-on-lg {
    @include minW($lg-min) {
      display: none;
    }
  }
  &-on-md {
    @include minW($md-min) {
      display: none;
    }
  }
  &-on-sm {
    @include minW($sm-min) {
      display: none;
    }
  }
  &-on-xs {
    @include minW($xs-min) {
      display: none;
    }
  }
}
// show on
.show {
  display: block;
  &-on-lg {
    @include minW($lg-min) {
      display: block;
    }
  }
  &-on-md {
    @include minW($md-min) {
      display: block;
    }
  }
  &-on-sm {
    @include minW($sm-min) {
      display: block;
    }
  }
  &-on-xs {
    @include minW($xs-min) {
      display: block;
    }
  }
}
