$color-white: #FFFFFF;
$color-white-opa6: rgba(255,255,255,0.6);
$color-black: #000000;
$color-black-opa6: rgba(0,0,0,0.6);
$color-black-opa2: rgba(0,0,0,0.2);
$color-green:#399E20;
$color-green-dark:#007719;
$color-green-light:#EBF5E9;
$color-yellow:#FCB720;
$color-blue:#2668B2;
$color-red:#ED2939;
$color-gray:#444444;
$color-gray-dark:#272727;
$color-gray-or:#141414;
$color-orange:#F24822;


$shadow15: 5px 12px 15px rgba(0,0,0,0.1);
$shadow30: 25px 20px 30px rgba(0,0,0,0.1);
$shadow31: 2px 15px 20px rgba(0,0,0,0.1);
