$color-white: #FFFFFF;
$color-gray:#F8F8F8;
$color-black:#000000;
$color-black-opa1:rgba(0,0,0,0.1);
$color-black-opa2:rgba(0,0,0,0.2);
$color-black-opa3:rgba(0,0,0,0.3);
$color-black-opa4:rgba(0,0,0,0.4);
$color-black-opa5:rgba(0,0,0,0.5);
$color-black-opa6:rgba(0,0,0,0.6);
$color-black-opa7:rgba(0,0,0,0.7);
$color-black-opa8:rgba(0,0,0,0.8);
$color-black-opa9:rgba(0,0,0,0.9);
$color-green:#339966;
$color-green-light:red;
$color-FF9900: #FF9900;
$color-EBF5F0: #EBF5F0;
$color-4EC9F5: #4EC9F5;
$color-green-light:#EBF5F0;
$color-gray-medium:#D9D9D9;
$color-yellow:#FFC107;
$color-F36D21:#F36D21;
$color-7C7C7C:#7C7C7C;
$color-002C44:#002C44;
$color-F8F8F8: #F8F8F8;
$color-F44336: #F44336;
$color-C4C4C4: #C4C4C4;
$color-D9D9D9: #D9D9D9;
$color-FFAE00: #FFAE00;
$color-FFD900: #FFD900;
$color-CECECE: #CECECE;

$color-line1:#1F553A;
$color-line2:#2B7A51;
$color-line3:#36A16B;
$color-line4:#4DBE84;

$shadowall: 0px 0px 15px rgba(0,0,0,0.1);
$shadow15: 5px 12px 15px rgba(0,0,0,0.1);
$shadow30: 25px 20px 30px rgba(0,0,0,0.1);
$shadow31: 2px 15px 20px rgba(0,0,0,0.1);
// screen
$xxs-min: 576px;
$xs-min: 768px;
$sm-min: 992px;
$md-min: 1200px;
$lg-min: 1600px;

$xxs-max: (
    $xxs-min - 1
); // Small Mobile
$xs-max: (
    $xs-min - 1
); // Mobile
$sm-max: (
    $sm-min - 1
); // Tablet
$md-max: (
    $md-min - 1
); // Desktop
$lg-max: (
    $lg-min - 1
); // Large Desktop

// spacing
$spacer: 10px;
